[2011-10-24 04:38] jorgeecardona opened #9 "Admin checks in rabbitmq_user"
Hi,

I'm using this code:

  # RabbitMQ server
  class { "rabbitmq::server":
    delete_guest_user => true,
    config => template('broker/rabbitmq.config.erb')
  }

  # User.
  rabbitmq_user { 'user':
    password => 'password',
    admin    => false,
    provider => 'rabbitmqctl',
  }

  # Vhost.
  rabbitmq_vhost { 'app':
    provider => 'rabbitmqctl',
  }

  # Basic Permissions
  rabbitmq_user_

[2011-10-28 16:12] #9 closed, assigned to nobody

[2013-06-12 11:23] KlavsKlavsen opened #49 "invalid parameter provider"
I'm getting:

err: Could not retrieve catalog from remote server: Error 400 on SERVER: Invalid parameter provider..

From this:
rabbitmq_plugin {'rabbitmq_management':
  ensure => present,
  provider => 'rabbitmqplugins',
}

If I remove the provider - it uses the default (which does nothing but fail :)

I tried (just to test) - to move the rabbitmqplugins.rb to default.rb - but then it just says:

[2013-06-20 00:40] justicel opened #51 "Add support for exchanges"
The mcollective rabbitmq module requires exchanges, per the documentation:
http://docs.puppetlabs.com/mcollective/reference/plugins/connector_rabbitmq.html

To this end, exchange creation should be added to the puppetlabs rabbitmq module, so that you don't have to do this outside of the module.

[2013-07-09 20:08] kwolf-zz opened #65 "Puppet 3.x."
As far as I can tell, this module doesn't work in Puppet 3.x.  Please take on of the pull requests that fixes this. :(

I think the missing HOME is the only outstanding issue?

[2013-07-10 14:44] #65 closed, assigned to nobody

[2013-07-18 17:01] nfelger opened #79 "Duplicate declaration: Apt::Pin[rabbitmq] is already declared"
I can't get this module to install rabbitmq at all. The error I see is:

[code]

I'm using puppet with Vagrant.

Vagrantfile:

[code]

manifests/site.pp:

[code]

I installed the module with `puppet module install -i modules/ puppetlabs/rabbitmq`, so the only things in `modules/` are `apt/`, `stdlib/`, and `rabbitmq`, none of which I've touched.

Any help would be appreciated! Below is the complet

[2013-07-18 22:19] bodepd opened #82 "rabbitmq should not install the latest version by default"
Currently, the rabbitmq module always adds rabbitmq repos from upstream. This means that the module will always install the latest version of the rabbitmq.

This is problematic for the following reasons:
- This will cause the module to not work at times (when a new major version is released).
- It does not allow users of this module to use the version of rabbitmq provided by their distro (in fact,

[2013-07-26 09:39] zeph opened #94 "erlang_cookie detection was better when NOT facter based"
the new erlang_cookie change detection is based on a facter
...which is not covered by an rspec btw (I'm trying to, any help is welcome)
seems to lead a continuous un-needed erlang/rabbitmq db deletion

based on the feedback from my colleagues,
the previous implementation "file based" seems to be preferred and more portable across puppet versions

[code]

[2013-07-26 10:32] zeph opened #95 "forced to run twice due to failing provider detection"
[code]

u can checkout my https://github.com/zeph/mcollective-lnmp and type "vagrant up" to see it

u need to rekick puppet via "vagrant provision" to see it succeed

[2013-07-28 05:55] sstults opened #98 "Management plugin requires restart before download"
Using Vagrant, after a fresh install, I get an error when it tries to download rabbitmqadmin:

[code]

If I then ssh into the box and run `sudo service rabbitmq-server restart` I can exit and run `vagrant provision` and all's well.

Here's my base.pp:

[code]

[2013-07-29 18:41] #98 closed, assigned to nobody

[2013-07-30 20:24] #95 closed, assigned to nobody

[2013-07-30 20:24] #94 closed, assigned to nobody

[2013-08-08 07:34] bjoernhaeuser opened #106 "3.0.0-rc2 causes librarian-update to fail"
Since the new release `librarian-update` fails with this error message:

[code]

Is this a general problem from this super awesome module (and thanks for new release) or is this a librarian-puppet problem?

Thanks in advance
Björn

[2013-08-13 06:31] hamzasa opened #109 "rabbitmq version"
Hi,
I see in the init.pp that you have version variable but i don't see that you use it anywhere
please advise
Thanks

[2013-08-13 18:11] #109 closed, assigned to nobody

[2013-08-13 18:16] #106 closed, assigned to nobody

[2013-08-18 12:30] hamzasa opened #110 "Getting error E: Version '3.1.4' for 'rabbitmq-server' was not found"
Hi
i'm trying to install version 3.1.4 and i'm getting the following error:
E: Version '3.1.4' for 'rabbitmq-server' was not found
please advise

[2013-08-19 13:56] jlambert121 opened #111 "HOME must be set for rabbitmq-plugins"
I'm running puppet 3.2.2 on CentOS 6.4 and get the following error when using this module.

Error: /Stage[main]/Rabbitmq/Rabbitmq_plugin[rabbitmq_management]: Could not evaluate: Execution of '/usr/sbin/rabbitmq-plugins list -E' returned 1: erlexec: HOME must be set

I know that puppet 3 changed how environment variables where done with execs and see the plugin provider has:

[code]

which to me m

[2013-08-20 14:47] #79 closed, assigned to nobody

[2013-09-05 07:01] KlavsKlavsen opened #118 "rpm installation fails dependency management"
Even though I have EPEL enabled - puppet run fails with:

Error: Execution of '/bin/rpm -i http://repo.example.dk/yousee/el/6/x86_64/rabbitmq-server-3.1.5-1.noarch.rpm' returned 1: error: Failed dependencies:
erlang >= R12B-3 is needed by rabbitmq-server-3.1.5-1.noarch

The reason is that rpm cannot resolve such dependencies, via yum repositories.

Switching provider to yum - for RedHat family dis

[2013-09-09 13:32] blalor opened #120 "Service['rabbitmq-server'] floats away"
I'm building a Sensu server using [sensu-puppet](https://github.com/sensu/sensu-puppet) and v3.0.0 of this RabbitMQ module.  I have the following relationship captured in my manifest:

[code]

However, when applying this manifest, `sensu-api` is started before `rabbitmq-server`:

[code]

[2013-09-09 14:05] #120 closed, assigned to nobody

[2013-09-09 23:16] akhil opened #121 "rabbitmqadmin fails with puppet 2.7.21 with master (code from master branch)"
I am using vagrant centos 6.2.
When I set puppet to local rabbitmqadmin installs fine.
But when I change it to master it fails.

I can't seem to find any event related to management plugin installation with a master.
But I see the curl command for rabbitmqadmin
Any pointers how I can figure this problem?

[2013-09-12 00:59] amosshapira opened #122 "Allow setting ssl_options, specifically "verify" and "fail_if_no_peer_cert""
Currently the ssl options "verify" and "fail_if_no_peer_cert" are wired into the rabbitmq.config template with no way to override their value.

There needs to be a way to provide different values for them.

[2013-09-25 20:05] mgagne opened #125 "Parameter config_mirrored_queues has no effect"
The parameter `config_mirrored_queues` has no effect when set to true.

Before RabbitMQ 3.0, the HA was controlled by the client when declaring the queue using `x-ha-policy`.

With RabbitMQ 3.0, this behavior is now controlled by a policy on the server side. [1] The HA policy can be applied to specific queues matching a pattern. The HA mode can also be set to different values:
http://www.rabbitmq.

[2013-09-25 21:10] mgagne opened #126 "Cannot override apt repository location or disable its configuration"
There is no way to disable the configuration of the apt repository and/or override the location of the apt repository.

I manage the apt repository configuration myself and point it to a private repository.

I wish to be able to disable the configuration of the apt repository and/or need the ability to override its location.

[2013-10-01 14:43] mschuett opened #128 "handle different user tags"
It looks like lib/puppet/provider/rabbitmq_user/rabbitmqctl.rb does not handle user tags != 'administrator'. Encountered this when I manually added a user 'zabbix' with tag 'monitoring'.

rabbitmqctl output:

[code]

'puppet agent -t' output

[code]

[2013-10-02 17:23] evilensky opened #130 "rabbitmq clustering status needs manual intervention if cluster partners aren't reachable at time of creation"
This module (and any technique using the rabbitmq config file to set up a cluster) fails if the cluster partners aren'tavailable at the time rabbitmq-server service is started.  Manual intervention is required to clear the node status and create the cluster correctly.

The link below explains this behavior in the 2nd (or third) unquoted paragraph.

[Reference](http://lists.rabbitmq.com/pipermail/r

[2013-10-10 18:10] #111 closed, assigned to nobody

[2013-10-17 17:40] someword opened #134 "EPEL RPM does not install /usr/sbin/rabbitmq-plugins"
I ran into an issue using this module on centos 6.X as the provider would not load because /usr/sbin/rabbitmq-plugins did not exist.  I noticed that the rpm that comes from EPEL does not include /usr/sbin/rabbitmq-plugins where as the one from rabbitmq does.

I opened https://bugzilla.redhat.com/show_bug.cgi?id=1020447 to find out if the missing binary is by design or by accident.  If it's by desi

[2013-10-19 21:11] akesterson opened #136 "puppetlabs-rabbitmq tries to install the rabbitmqadmin tools into /var/lib before enabling the management plugins"
Initial runs on a rabbitmq server on Ubuntu 12 x86_64 show:

[code]

... I was able to get around it by manually enabling rabbitmq_management, and restarting rabbitmq:

[code]

... at which point everything worked fine:

[code]

[2013-10-24 20:32] jwreeder opened #137 "Error message when creating an exchange with rabbitmq_exchange"
When an exchange is declared a check is performed to see if the exchange exists. This check posts an error since the specified credentials are not being passed to the call. This is the same symptom that was fixed for the actual creation of the exchange in release 3.1.0. The exchange is created but there is still an error message logged since the default credentials do not have access to list the e

[2013-10-31 18:45] antevens opened #142 "rabbitmqadmin.pp uses the curl command in exec but does not install curl package"
On some systems curl is not automatically installed, there should probably be a package dependency on curl being installed.

[2013-11-22 22:09] naftulikay opened #145 "Doesn't require curl, fails when it isn't installed"
Unfortunately, on Ubuntu 12.04, `curl` isn't installed by default. When I try installing this module, it fails because it can't download something with curl. Maybe just adding `curl` as a required package would fix the problem?

[2013-11-27 18:53] matthewbarr opened #147 "Error on using puppet resource rabbitmq_user"
Per the docs, you should be able to see the current users with puppet resource rabbitmq_user.

That currently gives an error on both puppet 3.1.1 & 3.3.2:

Error: Could not run: Validation of Rabbitmq_user[guest] failed: must set password when creating user
Wrapped exception:
must set password when creating user
[code]

[2013-11-29 16:01] ghola opened #148 "Enabling plugins does not restart the service"
In my first puppet run i installed the service and in the second i added the federation plugin, but the server was not restarted and so the plugins not loaded (the rabbit web ui did not show the federation plugin)

[2013-12-06 20:09] matthewbarr opened #149 "Rabbitmq_exchange resource produces errors"
root@puppet:/etc/puppet# puppet resource rabbitmq_exchange
Error: Could not run: Execution of '/usr/local/bin/rabbitmqadmin list exchanges' returned 1: Traceback (most recent call last):
  File "/usr/local/bin/rabbitmqadmin", line 939, in <module>
    main()
  File "/usr/local/bin/rabbitmqadmin", line 370, in main
    (options, args) = make_configuration()
  File "/usr/local/bin/rabbitmqadmin", li

[2013-12-08 20:27] haf opened #150 "'provider rabbitmqplugins not functional on this host'"
### Problem:

Trying to install a rabbitmq server, most basic variant possible.
### What I do:

[code]
### Expected Result

RabbitMQ (+ erlang installs), rabbitmq-server is started, starts listening to the amqp port.
### Actual Result

[code]
### Environment

OS: CentOS 6.4 x86_64
Hypervisor: virtualbox

(::epel is included.)
### Misc Info

`$ rabbitmq-plugin` => command not found

With this there

[2013-12-14 13:30] mattboston opened #153 "wipe_db_on_cookie_change deletes all data every puppet run"
When using wipe_db_on_cookie_change, even if the cookie hasn't changed, every 30 minutes Puppet runs the exec wipe_db and all my data is lost.
[code]

[2013-12-14 13:32] mattboston opened #154 "version parameter does not work"
When using version in the class definition is ignored and the version defined in the config.pp is the one used.

 class { 'rabbitmq':
   version                  => "3.2.2-1",
   config_cluster           => true,
   cluster_nodes            => [ "${rabbitmq_node1}", "${rabbitmq_node2}" ],
   cluster_node_type        => 'disc',
   erlang_cookie            => "${erlang_cookie}",
   wipe_db_on_cookie

[2013-12-18 17:29] hamzasa opened #158 "option to ignore the repo part"
Hi,
can you add a parameter to ignore the repo part ? then i will be able to define the repo that i want and install the version that want
thanks

[2013-12-20 17:34] robocoder opened #161 "RFE: allow $cluster_nodes to be either array or comma-delimited string"
We wanted to parameterize cluster_nodes as a puppet dashboard variable, but the module validation fails (expects array) because puppet dashboard variables are always treated as strings.

[2013-12-22 12:37] thierrymarianne opened #163 "Illegal cluster node name"
I've received this error message while attempting to use rabbitmq module:

`Error: Illegal name. The given name _cluster_nodes does not conform to the naming rule \A((::)?[a-z0-9]w*)(::[a-z0-9]w*)*\z at /etc/puppet/modules/rabbitmq/manifests/config.pp:45:5`

I've just followed the first basic example as suggested by the documentation :

[code]

I've renamed the `$_cluster_nodes` variable to `$clus

[2013-12-26 17:57] #149 closed, assigned to nobody

[2014-01-09 20:55] #126 closed, assigned to nobody

[2014-01-29 21:11] matthewbarr opened #168 "Make sure to update notes & change log - mange_erlang is no longer present"
With a recent change in the git version, you've removed a parameter that was present.

It's also used in the current version of the puppetlabs-mcollective module, under their middleware manifests (middleware/rabbitmq.pp)

[2014-02-14 14:53] rmassing opened #169 "$PATH"

[2014-02-28 20:39] jmswick opened #172 "Rabbitmq_user_permissions parser fails for empty string"
I'm configuring a 'read_only' user for a rabbitmq setup that only has read only access to a particular vhost.  Using the rabbitmq_user_permissions provider, the module will properly set the permissions for the user, but on subsequent runs it will fail to parse the permissions of the user.

First run:

[code]

Second run:

[code]

This is what I was testing with in a manifest:

[code]

Actual permi

[2014-03-04 12:36] xcu opened #173 "exchanges will be recreated in every puppet run if the vhost is not /"
self.instances is executing rabbitmqadmin list exchanges, which uses / by default. If the exchanges are created using another vhost then they won't be included in @property_hash, making the exists method return an incorrect value.

I have created a patch for this which uses rabbitmqctl instead to populate @property_hash (I think that rabbitmqadmin would need the username and password) and it seems

[2014-03-04 12:41] xcu opened #174 "puppet resource rabbitmq_exchange does not work"
An exception (coming from the validate method in the exchange type) is raised, complaining about the type not being set. However, the type parameter is there, only that accessing it via self[:type] will not work.

[2017-07-19 18:29] guimaluf opened #555 "SSL error to get rabbitmq keys"
I'm using Ubuntu 16.04 installed from netboot. Applying the manifest below
[code]

I don't know why, but my nodes can't add the apt key from rabbitmq
[code]

If I change `https` to `http` on `key_source` on `manifests/repo/apt.pp`, everything runs fine. I don't know if is my server issue or repository issue.

[2017-08-10 15:14] zhianliu opened #557 "Add support for max-length-bytes as a integer"
We already support supplying max-length as an integer, but max-length-bytes isn't. When supplying the parameter, the module translates it into a string which won't work in the rabbitmq config file. We've added this patch for now to get around this issue, would love to see this get patch in the module in the future

[code]

[2017-08-17 23:08] wyardley commented on #145
Responding to a [very old] issue:

I think it will work with either `curl`  or `wget`, though we  should move to the `archive` module instead of `staging` probably...
I guess this is a grey area, it's not exactly a soft dep, since it's required to work in order to install rabbitmqadmin, but any deps should probably be dealt with via `ensure_packages()` in the module we're using to handle this. If

[2017-08-17 23:08] wyardley commented on #145
ps - I think either `curl` or `wget` is probably reliably on the typical types of supported systems now, so maybe this can just be closed?

[2017-08-20 20:15] ninjasloth22 opened #564 "add vars to manage management ssl certs separately."
Add some new vars to specify the management ssl certs separately
Then just default the vars to the current ssl_key/cacert/cert options
e.g
 {cacertfile, "<%= @management_ssl_cacert %>"},
                  <%- end -%>
                  {certfile, "<%= @management_ssl_cert %>"},
                  {keyfile, "<%= @management_ssl_key %>"}

[2017-08-21 14:31] ibaboo opened #565 "Add destination exchange for Shovel"
Hi

I would like to add an exchange as a destination for a Shovel however I only see the option for **dest-queue**

My code look like this for a queue. How do I change it for the destination being an exhange?

[2017-08-23 10:56] rmestrum opened #566 "Enabling new plugin fails"
When i try to enable a extra plugin, the plugin is enabled bot not running.

When executing the command that the provider uses (`/usr/lib/rabbitmq/bin/rabbitmq-plugins`) manually an error shows up

[code]
The start the plugin i must restart the `rabbitmq-server` service

When i execute the command that's shown on the site of rabbitmq (`rabbitmq-plugins`) to enable a plugin the command succeeds and

[2017-08-25 22:53] wyardley commented on #169
No details, I think this can be closed, since it's from several years ago.

[2017-08-25 22:53] #169 closed

[2017-08-25 22:54] wyardley commented on #173
This has been merged, and I don't think affects current master.

[2017-08-25 22:54] #173 closed

[2017-08-25 22:55] wyardley commented on #49
Guessing this should be not an issue with any current versions that would get installed? I'm going to close, but re-open if this is still an issue.

[2017-08-25 22:55] #49 closed

[2017-08-25 22:57] wyardley commented on #163
Sounds like this was resolved via #160

[2017-08-25 22:57] #163 closed

[2017-08-25 22:59] wyardley commented on #154
It is misleading, and I've actually taken it out in #493 (the module now just gets the version from status commands, though this could potentially cause some chicken / egg problems). I'm going to mark this as closed, I did try to add some docs mentioning the bit about using `$package_ensure` instead.

[2017-08-25 22:59] #154 closed

[2017-08-26 07:27] wyardley commented on #158
There's now the `repos_ensure` param (before this, there was `manage_repos`, now deprecated. So, I know this is now several years old, but I'm going to close this issue out.

[2017-08-26 07:27] #158 closed

[2017-08-26 07:27] wyardley commented on #174
I believe this should be resolved now, I can define exchange resources. I'm going to close the ticket out, re-open if this is in error.

[2017-08-26 07:27] #174 closed

[2017-08-26 07:28] #137 closed

[2017-08-26 07:40] wyardley commented on #566
Also odd that the RPM from epel ships two different versions:
[code]
Same seems true with the one from the official repo:
[code]

Both are shell scripts, but there are some differences. Reverting https://github.com/voxpupuli/puppet-rabbitmq/commit/ec5aff0d457e640df780903bd9d64feceb0b0fc2 would be easy enough, but maybe the one in `/sbin` doesn't exist in some versions? I'm not sure if we need to k

[2017-08-27 22:54] wyardley commented on #121
I'm guessing this may have since been resolved, it's also tied to a very old Puppet version. I'm going to close this issue.

[2017-08-27 22:54] #121 closed

[2017-08-27 22:54] #51 closed

[2017-08-28 17:49] bostrowski13 opened #573 "repos_ensure and version on RHEL 7"
This module doesn't seem to work on RHEL 7 after trying to spin up a new cluster this morning.  Its been a while since we've had to do this, but I've grabbed the latest from this repo, and after updating my code and removing params that are deprecated, I'm now unable to get the server pulled down from package cloud and receiving the error...

"Error: Could not update: Execution of '/bin/yum -d 0 -

[2017-08-30 12:34] bostrowski13 commented on #573
so at the time I had implemented the manifest below, i was able to use "version" to pin v3.6.3, even though 3.6.6 was just released.  Below is our implementation of the class.  the cluster is 2 nodes, and we're attempting to use the latest version, 3.6.11.

`class { '::rabbitmq':
    package_ensure           => $rabbitmq_version,
    repos_ensure             => true,
    service_manage           =

[2017-08-30 12:36] bostrowski13 commented on #573
I would add that I didn't know that packagecloud was their repo, and I'm totally cool in using that.  It just seems broken with the .11 release, given that yum seems to think its missing the "repomd" file.

[2017-08-30 12:58] bostrowski13 commented on #573
I think this is a URL issue now that I'm looking more closely at this.

Incorrect URL in error message:
https://packagecloud.io/rabbitmq/rabbitmq-server/el/**_7Server_**/x86_64/repodata/repomd.xml:

Proper URL that returns XML for RHEL 6 and 7...
https://packagecloud.io/rabbitmq/rabbitmq-server/el/6/x86_64/repodata/repomd.xml
https://packagecloud.io/rabbitmq/rabbitmq-server/el/7/x86_64/repodata/re

[2017-08-30 13:06] bostrowski13 commented on #573
Contents of the "rabbitmq_rabbitmq-server.repo" file...

[rabbitmq_rabbitmq-server]
baseurl=https://packagecloud.io/rabbitmq/rabbitmq-server/el/$releasever/$basearch
enabled=1
gpgkey=https://www.rabbitmq.com/rabbitmq-release-signing-key.asc

[2017-08-30 16:13] wyardley commented on #573
So this makes sense to me now, should have realized that before.

With RHEL (vs CentOS), there's a difference between Client / Server version of the OS, and `$releasevar` and `$basearch` are variables that get interpolated by yum, vs. literal variables in the Puppet manifest. So the simple fix for this is probably to use `${::os['release']['major']}` or similar (interpolated) in the yum repo decla

[2017-08-30 17:58] wyardley commented on #573
This is against a PR that's not yet merged, I think the actual changes here may fix your problem if you want to test (still need to run acceptance tests on it and do some manual testing). https://github.com/wyardley/puppet-rabbitmq/tree/fix_rhel_repo_path

I will also try to (at some point) add an acceptance test for `repos_ensure`.

You're right that if you set the `$version` before when using th

[2017-08-30 18:08] wyardley commented on #573
Can you see if that fix works for you? I think it will work based on running this manually inside the acceptance test beaker container, however, still CentOS not RHEL.

[code]

[2017-08-30 21:08] wyardley commented on #573
@bostrowski13 #577 is merged if you want to test.

[2017-08-31 12:39] bostrowski13 commented on #573
@wyardley thanks!  i didn't get a chance yesterday but will do so this morning.

[2017-08-31 13:01] bostrowski13 commented on #573
works like a charm now.

# cat /etc/yum.repos.d/rabbitmq_rabbitmq-server.repo
[rabbitmq_rabbitmq-server]
baseurl=https://packagecloud.io/rabbitmq/rabbitmq-server/el/7/$basearch
enabled=1
gpgcheck=1
gpgkey=https://www.rabbitmq.com/rabbitmq-release-signing-key.asc

Thanks for the quick response and working with me on this!

[2017-08-31 18:00] wyardley commented on #573
closing via #577

[2017-08-31 18:00] #573 closed

[2017-09-01 08:56] cristianbalan opened #586 "Update to support puppetlabs/apt 3 or 4"
Isn't about time to update this to support puppetlabs/apt 4 (or at least 3)?

[2017-09-01 08:58] cristianbalan opened #587 "Update to support puppet/staging 2"
Isn't about time to update this to support the puppet/staging 2 released more than a year ago?

[2017-09-03 15:21] alexjfisher commented on #586
puppetlabs/apt is a soft dependency since https://github.com/voxpupuli/puppet-rabbitmq/pull/589
The voxpupuli team hope to release a new version to the forge soon.

[2017-09-03 15:21] #586 closed

[2017-09-03 15:22] alexjfisher commented on #587
This has been fixed in https://github.com/voxpupuli/puppet-rabbitmq/pull/543.  We've got a bit more work to do, but expect a new release under Voxpupuli's `puppet` namespace soon.

[2017-09-03 15:22] #587 closed

[2017-09-03 15:27] alexjfisher opened #591 "Release puppet/rabbitmq 6.0.0"
We want to release the first Voxpupuli `puppet` namespace as soon as possible.  There are a few things we should probably get done first though.

- [x] Add README badges
- [x] modulesync
- [x] Update `Development` section of README
- [x] Update outdated `Apt module compatibility` README section
- [x] Sync labels
- [x] Migrate existing changelog to HISTORY.md
- [x] Tweak Issue/PR titles and labels

[2017-09-03 15:28] alexjfisher commented on #591
@wyardley @bastelfreak Can you think of anything else we need to do before the release?

[2017-09-03 21:57] wyardley commented on #591
Sounds  about right to me. We'll also need to do some combination of suppressing / fixing the 'multiple expectations' warnings. There are a few that I think I can resolve, but then we should set a Rubocop ignore for the rest, and open an issue to fix them eventually.

I'd love to switch to archive module, but agree with @alexjfisher that we can wait on that for the next release.

[2017-09-03 23:25] wyardley commented on #591
I think README badges are good now, and I synced the labels and checked that off.

[2017-09-04 00:16] wyardley commented on #591
Created #596, let me know how that looks

[2017-09-04 04:38] wyardley commented on #591
#597 addresses changelog

[2017-09-04 17:34] wyardley commented on #134
This did seem to get handled (differently) in the plugin provider, though I have been thinking of taking it back out.

I think this is good now, though:
[code]

[2017-09-04 21:48] wyardley opened #603 "fix or eliminate remaining "multiple expectations" warnings"
We should eventually resolve the remaining ignored "multiple expectations" rubocop warnings from #602. This can be done post 6.0 release.

[2017-09-04 21:53] wyardley commented on #591
Realized that https://github.com/voxpupuli/plumbing/pull/136 already existed after I submitted https://github.com/voxpupuli/plumbing/pull/137.
However, someone with the Travis password will need to add that.

[2017-09-04 22:05] wyardley commented on #591
Got #602 open, and created #603 as a reminder to eventually fix.

[2017-09-05 13:47] pietervogelaar opened #605 "Autoload error that sometimes occurs on Puppet Enterprise 2017.2.2"
`Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Virtual Query, Could not autoload puppet/type/rabbitmq_plugin: Attempt to redefine entity 'http://puppet.com/2016.1/runtime/type/rabbitmq_plugin'. Set at unknown location at /etc/puppetlabs/code/environments/tst

[2017-09-05 13:48] pietervogelaar commented on #605
Everything used to run fine on Puppet Enterprise 2016.4.0.

[2017-09-05 21:50] wyardley commented on #605
Just wondering, which version of the module are you running? And if an older version, does current master fix anything?

We're hoping to release 6.0.0 soon, first release under Voxpupuli.

Also, which version of RabbitMQ are you running, and on what platform?

[2017-09-06 06:43] pietervogelaar commented on #605
I'm using module: `mod 'puppetlabs/rabbitmq', '5.6.0'`

The YUM rabbitmq-server package is version 3.6.2 on RHEL 7.4 (selinux enabled).

[2017-09-06 06:49] wyardley commented on #605
If it's at all possible, could you test against current master, and see if it exhibits the same behavior (in a test environment, if doing that would be disruptive)?

A quick web search also suggests that pluginsync needs to be enabled, though I'm assuming it is? Maybe ask on IRC or Slack and see if the error message rings a bell for anyone?

[2017-09-06 06:55] pietervogelaar commented on #605
Is the current master compatible with major version 5? Or is it code what will soon be released as 6?
What I mean to say, are there breaking changes? :-)

[2017-09-06 06:59] wyardley commented on #605
@pietervogelaar yes, there are some breaking changes coming. Big change is the switch to datatypes, and changing the `'UNSET'` pattern to true `undef`. There are also some changes to the way repos and installation work, though they likely wouldn't affect you if the package is already installed.

[2017-09-06 14:29] costela commented on #591
after some delay (sorry! :sweat_smile:) I got #609 fixed (resub of #606).

[2017-09-06 14:51] bostrowski13 opened #610 "Problem with erl_ssl_path fact on RHEL 7.x, erlang 18.3"
When running the puppet agent, I am receiving the following error regarding the "erl_ssl_path" custom fact.

[code]

While this doesn't prevent the catalog from being run, it is an error.

[2017-09-06 14:54] wyardley commented on #610
@bostrowski13 can you see if #609 (by @costela, just merged) fixes it?

[2017-09-06 17:18] bostrowski13 commented on #605
I have this issue too.  RHEL 7.4, PM it 2017.2.0,

[2017-09-06 17:32] bostrowski13 opened #611 "use of new 6.0.0 module on new installation fails"
PE 2017.2
Target OS:  RHEL 7.4
RabbitMQ Version:  3.6.3
Erlang Version:  18.3
Module version:  puppet-rabbitmq (v6.0.0-rc0)

The first error seen is...
`Error: Facter: error while resolving custom fact "rabbitmq_nodename": undefined method `[]' for nil:NilClass`

but I believe this is because RabbitMQ is not running, and can't execute rabbitmqctl.

Upon further investigation, looking in the startu

[2017-09-06 17:38] bostrowski13 commented on #611
[code]

[2017-09-06 17:40] bostrowski13 commented on #611
[code]

[2017-09-06 17:54] wyardley commented on #610
Closed via #609

[2017-09-06 17:54] #610 closed

[2017-09-06 18:00] wyardley commented on #611
@bostrowski13 this is all very helpful, will try to reproduce.

Do `/var/log/rabbitmq/startup_log` / `/var/log/rabbitmq/startup_err` have anything useful?
Can you post the output of `yum info rabbitmq-server`?

I think inetrc shoudl be empty unless ipv6 is enabled, so that seems normal.

I think the chicken / egg problems with the facts are also a known issue (since RabbitMQ isn't running, they wo

[2017-09-06 18:01] wyardley commented on #605
@bostrowski13 I am guessing you're seeing this with current git master (6.0.0-rc0) too?

[2017-09-06 18:06] wyardley commented on #605
For anyone on RHEL / CentOS, does `/usr/lib/rabbitmq/bin/rabbitmq-plugins` exist? I don't think it's the same issue as #566 but just curious.
#570 is a proposed "fix" for this if anyone wants to try.

[2017-09-06 18:08] bostrowski13 commented on #611
[code]

startup_log contains notning, err contains the line i mentioned above.

we do have ipv6 disabled, and I saw this should be empty, just trying to be thorough.

No, that is where we are setting the version number to pin 3.6.3.  I thought i recently asked or read something about the depricated used of "$version", and to pin it was to use this param instead of that.

[2017-09-06 18:09] bostrowski13 commented on #605
i have rabbitmq-plugins in that location, even on the installation that fails in https://github.com/voxpupuli/puppet-rabbitmq/issues/611#issuecomment-327565166

[2017-09-06 18:12] bostrowski13 commented on #611
pin the version, without using "version" and using "package_ensure" was in https://github.com/voxpupuli/puppet-rabbitmq/issues/154

[2017-09-06 18:14] bostrowski13 commented on #605
@wyardley yes.

[2017-09-06 18:26] wyardley commented on #611
Correct, yeah, I just wanted to make sure you weren't using the fact _from_ the module to pin, since this would create a chicken / egg situation. I'm not sure if the `$rabbitmq_version` variable will conflict with the `rabbitmq_version` fact, hopefully won't be an issue.

In addition, depending on the package source, you may need a version suffix (the yum provider is pretty picky about versions ma

[2017-09-06 18:35] wyardley commented on #611
fwiw, on CentOS 7:
[code]

It could potentially be directory permissions on `/etc/rabbitmq`, can you check those too?

[2017-09-06 18:46] wyardley commented on #605
@hunner pointed me in the direction of https://tickets.puppetlabs.com/browse/PUP-7466, FWIW

[2017-09-06 18:58] bostrowski13 commented on #611
so here's a really fun one...

apparently the image of the server once had the pivotal version of rabbitmq installed with the RPM on it, and so the result of the groups command showed...

[code]

after i added the rabbitmq user to the rabbitmq group, no issues at all.

[2017-09-06 18:59] wyardley commented on #611
👍
Awesome
Yeah, the RPM will create the user if it doesn't exist; the module itself doesn't try to manage the RabbitMQ user. Glad we got that figured out.

[2017-09-06 18:59] #611 closed

[2017-09-06 19:10] bostrowski13 commented on #611
thanks for your guidance.  gotta get a cleaner image from our build team.

[2017-09-06 21:21] wyardley opened #614 "Look into "error while resolving custom fact" error"
As discussed in #611, should look into making the module more tolerant in cases where custom facts don't exist.

[code]

[2017-09-06 21:34] wyardley commented on #614
thanks to @dhollinger for pointing out the typo with Resolution vs Execution.

[2017-09-06 21:46] alexjfisher commented on #611
@bostrowski13 I don't think the failure in the fact is actually causing you any problems (it's not used).  But I would be interested to know why it's throwing an error.
What is the output of `rabbitmqctl status`?  Maybe this [regex](https://github.com/voxpupuli/puppet-rabbitmq/blob/01f217004bcfe6515618a5ab6015f7ac4ff33d8d/lib/facter/rabbitmq_nodename.rb#L5) needs tweaking.

[2017-09-06 22:31] wyardley commented on #614
I think #615 will resolve this

[2017-09-06 22:31] #614 closed

[2017-09-06 22:34] wyardley commented on #611
@bostrowski13 @alexjfisher I _think_ #615 may fix this, in the case where `rabbitmqctl` is not installed or not installed yet. It seems that the fact should work correctly even when it is not running (though version will not).

[2017-09-07 18:29] mwhahaha opened #618 "Idempotency problems with rabbitmq 3.6.5 and puppet 4.8.2"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.8.2
- Ruby: ruby-2.0.0.648-29.el7.x86_64
- Distribution: centos
- Module version: 70ac6c59180a307786db28218d11348acc6d7a42
- Rabbitmq 3.6.5

## How to reproduce (e.g Puppet code you use)
https://github.com/openstack/puppet-openstack-integration/blob/master/manifests/rabbitmq.pp

## What are you seeing
Idempotency problem w

[2017-09-07 19:03] wyardley commented on #618
Yes, I think it is related to that change, I was concerned that could happen at the time. I'm not sure what a good fix is for it, since we can no longer reasonably set `version`, and we can't get `rabbitmq_version` (with the way the fact is implemented currently, at least) until it's installed. We could improve things a little by making the default enabled for those options. Open to suggestions

@

[2017-09-07 19:06] wyardley commented on #618
ps - I think it was introduced here (and I did comment about it there) https://github.com/voxpupuli/puppet-rabbitmq/pull/493/files#diff-0ac866172efd29d0ddc2aa75ae6f182dR120
with the original code in #464 by @mpolenchuk

[2017-09-07 19:11] mwhahaha commented on #618
Yea it's possible the earlier one did it, we recently bumped from 5.6.0 to capture some functionality to support tls.  I'm not an expert on the rabbitmq config and it seemed to not break anything having it defined in the config on the initial rabbitmq startup.  What's the impact of having those 3 listen options vs not?   Do we actually need this logic or could we allow operators to opt into it?

[2017-09-07 19:17] wyardley commented on #618
#464 explains it better (and links to https://github.com/rabbitmq/rabbitmq-server/issues/453), but I think those options shouldn't be there in versions >3.6

I'm not sure if they're harmful if present.
While the itempotency issue is a problem, I think it will only happen on the second run, or when RMQ version changes above / below the comparison, right (i.e., once the rabbitmq_version fact is prop

[2017-09-07 19:36] mwhahaha commented on #618
It does restart only on the second run, but in our case that's a rabbitmq restart which is not ok.  Rather than relying on the fact it would be beneficial to have a flag to disable this for the instances where the operators knows this ahead of time and does not want this type of functionality.

[2017-09-07 19:41] wyardley commented on #618
We could see if just reverting the conditional introduced in #464 would cause errors (i.e., if those directives are messy, but harmless), or I guess introduce a parameter to suppress the lines, though I don't love that option.

[2017-09-07 19:44] ekohl commented on #618
My knowledge of rabbitmq is limited so I can mostly advise on the puppet side of the module but some options I see:
1. Expand the fact to query the package manager for available versions. That does mean all repositories should be present before the actual installation and it would be an approximation. With possible incorrect results you could have a restart.
2. Assume ranch is present if the fact

[2017-09-07 19:48] wyardley commented on #618
@ekohl thanks
I did briefly consider # 1 - but I think there are some potential issues there. We'd need to make sure it happens after installation but before configuration in the same run (not sure if you can do that with facts), and you'd also have to account for the different version formats and different packaging systems.

# 2 should be the same as the current behavior, I think.
# 3 is not rea

[2017-09-07 19:49] mwhahaha commented on #618
So there are problems with these which is why I asked to allow the operator to specify.

For 1. If you do repo setup in your puppet catalog, this won't get the actual versions.  For 3. if you assume version but operator uses own repo it'll never be right.

To be honest this is my least favorite thing that happens with puppet modules when you have to manage different config formats depending on the

[2017-09-07 20:05] ekohl commented on #618
If you move the value based on the fact to ```params.pp``` and expose it as a parameter then that's fine. Sane(ish)  defaults with the power to override is usually the way to go, especially when your default is know to be imperfect.

I see the downsides as well, just wanted to put all the options out there.

Absolutely. Having static facts during the run is great in many ways, but here it does bre

[2017-09-07 20:25] mwhahaha commented on #618
No I'm talking about a version_x fact.  In fact I was describing your hybrid approach by allowing the operator to pass in $rabbitmq::params::ranch = true (or false) and an operator can override or whatever and they get the config they did. I'm a huge fan of less automagic and more sane defaults and flexibility to enable/disable this type of functionality.

Right now as a consumer, I have no way of

[2017-09-07 20:28] ekohl commented on #618
The benefit of the fact-based default is that it's the status quo with an override so it's a patch or minor version so 👍 on avoiding a major version bump.

[2017-09-07 20:56] wyardley commented on #618
Yeah, I think I'll take a gander at implementing it as a parameter (defaulting to `true` in params). I think generally we don't pass values directly to params, but could set it up using the same pattern as existing parameters.

One approach that could also be a slight improvement would be to invert the current behavior so that the default is to drop those parameters. Then, the idempotency issue wo

[2017-09-08 17:41] wyardley commented on #618
I've added tests to the possible fix, will see what folks think about the naming of the parameter.

[2017-09-08 17:46] wyardley opened #622 "Add official support (and update acceptance tests) for Ubuntu 16.04"
- [x] [semi-related] Fix some issues with local spec tests #620
- [x] fix fixtures #619
- [x] Add `packages_ensure` for python #623
- [ ] Switch to camptocamp systemd module (if possible - may need to work around test failures and do this later)
- [x] Update metadata and acceptance tests #624

[2017-09-09 14:19] #591 closed

[2017-09-11 09:57] GhostLyrics opened #627 "Missing at least one release for Puppet 3.8.x"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 3.8.x
- Ruby:
- Distribution: Ubuntu Trusty
- Module version: *well…*

Considering that the previous page at the forge: https://forge.puppet.com/puppetlabs/rabbitmq now states that module is deprecated and the first release here is 6.0.0, would you consider publishing at least the very last module with Puppet 3 support again

[2017-09-11 17:34] wyardley commented on #627
I'll ask, but might be tough at this point. I know for some modules, Vox Pupuli has kept a Puppet 3 branch around, but there is not one for this module. I'm sympathetic, since we were on Puppet 3 til very recently ourselves, but Vox has been dropping support for 3.x since it was EOLed, so you may have to live with the older version.

I think r10k supports using a git repo as a source, so maybe you

[2017-09-11 18:02] wyardley commented on #622
I'm going to table camptocamp systemd module for now; it adds an additional dependency, and yet doesn't yet support managing file limits the way we need to (it doesn't support unlimited, as best I can tell).

[2017-09-11 18:02] #622 closed

[2017-09-11 18:03] wyardley commented on #618
#621 has been approved and merged; I'd like a better fix for this, but I think the current behavior should support most new installations, while still allowing older installations to work w/ a config parameter.

[2017-09-11 18:03] #618 closed

[2017-09-11 18:30] wyardley commented on #565
https://www.rabbitmq.com/shovel-dynamic.html suggests `src-exchange` and `dest-exchange`.
This is not something I've worked with personally, but
https://www.rabbitmq.com/shovel-dynamic.html
seems to imply it's supported (at least in the current version).

https://groups.google.com/forum/#!topic/rabbitmq-users/0ArkLBE_0LM

I did a quick check, though not sure what URIs you're using or how to setup

[2017-09-11 18:30] #565 closed

[2017-09-11 18:41] wyardley commented on #555
@guimaluf can you see if this affects the most recent release (6.0.0)?

[2017-09-11 18:49] wyardley commented on #172
Appears to have been fixed in 3985eccb41c00e7ac3bcd40d1814a227c516c294 by @mschuett (mentioned above).

[2017-09-11 18:49] #172 closed

[2017-09-11 18:51] wyardley commented on #153
Ancient ticket, but seems like this must already have been fixed:
[code]

[2017-09-11 18:51] #153 closed

[2017-09-11 18:52] wyardley commented on #118
Should work Ok in current master (and the soft dep on epel is documented).

[2017-09-11 18:52] #118 closed

[2017-09-11 18:52] #128 closed

[2017-09-11 18:53] wyardley commented on #82
I think this is no longer an issue with how repos and versioning are now managed.

[2017-09-11 18:53] #82 closed

[2017-09-11 18:54] wyardley commented on #150
I think this is not an issue now, though discussing changing the behavior in #570

[2017-09-11 18:54] #150 closed

[2017-09-11 18:57] wyardley commented on #122
These appear to have been parameterized for quite some time.

[2017-09-11 18:57] #122 closed

[2017-09-11 18:57] #110 closed

[2017-09-11 18:57] wyardley commented on #110
Closed via #493

[2017-09-11 19:01] wyardley commented on #145
dupe of #142
We are using archive module now. I will verify its behavior.

[2017-09-11 19:01] #145 closed

[2017-09-11 19:03] wyardley commented on #142
We are using the archive module now. I will look into whether there's a hard or soft dep already.

[2017-09-11 19:03] wyardley commented on #142
from the archive README:

[2017-09-11 19:03] #142 closed

[2017-09-11 19:04] #134 closed

[2017-09-11 19:36] amosshapira commented on #122
Thanks for the update

[2017-09-11 20:24] wyardley commented on #168
I'm going to close this, since the param has been gone for a while, and so I'm guessing a deprecation warning would no longer be helpful.

[2017-09-11 20:24] #168 closed

[2017-09-11 21:43] wyardley commented on #147
I'm able to verify this, even with current master.

[2017-09-11 22:11] wyardley commented on #147
https://tickets.puppetlabs.com/browse/MODULES-3084 seems to be the same issue as well.

[2017-09-11 22:45] wyardley commented on #147
I think #598 (rework of #460 by @mpolenchuk) might end up fixing this if I can get it to work.

[2017-09-12 05:04] wyardley commented on #147
The actual issue seems to be unrelated to those two. It's actually much simpler. The code that's trying to ensure that you don't create a user without defining a password is also preventing `puppet resource rabbitmq_user` from working.

[code]

[2017-09-12 06:21] ibaboo commented on #565
Thank you @wyardley for now I did it manually and not through puppet.

[2017-09-12 06:44] wyardley commented on #566
I updated the fix in #570 and it seems to work even with the old RMQ version on RHEL 6. We'll have to cut another major release for the module soon, so will try to get this included.

Thanks a lot for the detailed report / information.

[2017-09-12 06:44] #566 closed

[2017-09-12 06:46] wyardley commented on #148
FWIW, the plugins in the module itself have a notify of the service:
[code]
so I think this is a feasible approach when creating plugin resources as well.

[2017-09-12 06:46] #148 closed

[2017-09-12 06:47] wyardley commented on #136
I think this is now no longer an issue, since the ticket is several years old, I'm going to close it out, but please re-open if you believe this is an issue with the current version.

[2017-09-12 06:47] #136 closed

[2017-09-12 06:48] wyardley commented on #557
Thanks for the report and the patch. I'm going to consider this an enhancement more than a bug; closing via #628, assuming it gets merged.

[2017-09-12 06:48] #557 closed

[2017-09-12 06:49] wyardley commented on #125
Appears to not be a parameter anymore, I think this old ticket can be closed out.

[2017-09-12 06:49] #125 closed

[2017-09-12 06:50] wyardley commented on #147
Closing via #598 (I'll cherry-pick the fix for this or break it out into another pull if that doesn't get merged for some reason).

[2017-09-12 06:50] #147 closed

[2017-09-12 07:18] wyardley commented on #161
I think I'm going to close this one as wont-fix for now; with the switch to Puppet 4 and data types, it seems like it would be kind of backwards to allow both a string / array here, though we can review it if someone wants to submit a PR to add this functionality.

[2017-09-12 07:18] #161 closed

[2017-09-12 07:27] wyardley commented on #627
If we can get 5.6.0 under puppet/rabbitmq, would that solve the issue for you?

[2017-09-12 11:40] GhostLyrics commented on #627
Yes, it would. I think that's the most elegant solution.

[2017-09-14 09:58] trefzer opened #634 "revert 8e97331df46b6123d3813d9eaf9fcbcf50e62c59"
commit 8e97331df46b6123d3813d9eaf9fcbcf50e62c59 added a newline in
the ssl configuration of rabbitmqadmin.
with the empty line in the config, the following errors occur in the log when trying to download rabbitmqadmin.

=ERROR REPORT==== 14-Sep-2017::11:25:51 ===
    application: mochiweb
    "Accept failed error"
    "{error,{options,{keyfile,\"*blah*_privkey.pem\",\n                         {err

[2017-09-14 15:09] wyardley commented on #634
@trefzer I noticed this when testing #632 and updated it (it was initially a single commit, but I squashed it into some bigger changes; if I had realized a bug, probably would have left it separate to make it more obvious).
So the changeset in
https://github.com/voxpupuli/puppet-rabbitmq/pull/632/commits/d66d0d82e65e764a7edac5c379598144bab1a5c7 should fix this.
We'll be cutting 7.0.0 soon.

[2017-09-14 15:09] #634 closed

[2017-09-14 17:04] guimaluf commented on #555
@wyardley I just upgraded to 6.0.0 and included puppet/archive module, but I got this error

[code]

I did not investigate further. Just removed the https again from the module.

[2017-09-14 17:17] wyardley commented on #555
@guimaluf do you have wget or curl on the system? I think one or the other is required for puppet-archive (though would also have been required by staging).

[2017-09-14 17:18] guimaluf commented on #555
@wyardley I do have wget, but no curl.

[2017-09-14 17:20] wyardley commented on #555
Maybe related to this issue? https://github.com/voxpupuli/puppet-archive/issues/105

[2017-09-14 18:01] wyardley commented on #627
@hunner cut 5.6.1, and we'll try to get that uploaded to the forge manually.

[2017-09-14 22:18] TraGicCode commented on #605
@wyardley I am also having this issue on our puppet enterprise instance randomly

[2017-09-15 04:06] wyardley commented on #605
I wonder if it could have to do with the fact that some of the plugins have
`provider => 'rabbitmqplugins'` explicitly spelled out (that does seem to be the right provider name, though I don't think it's necessary).

Can folks post what code lines up with the line number given in the error in the version they're seeing this error with?

[2017-09-15 12:53] bostrowski13 commented on #605
Here's the error I see...

`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Virtual Query, Could not autoload puppet/type/rabbitmq_plugin: Attempt to redefine entity 'http://puppet.com/2016.1/runtime/type/rabbitmq_plugin'. Set at unknown location at /et

[2017-09-15 13:23] bostrowski13 commented on #605
i'm also using this version of the module
 puppet-rabbitmq (v6.0.1-rc0)

[2017-09-22 17:02] wyardley commented on #627
https://forge.puppet.com/puppet/rabbitmq/5.6.1
Sorry that took so long to actually get up.

[2017-09-22 17:02] #627 closed

[2017-09-23 01:58] GhostLyrics commented on #627
Thank you very much.

[2017-09-26 08:48] michaelklishin opened #640 "Please switch to Package Cloud apt repository; rabbitmq.com's one becomes read-only in a few months"
This module currently uses Package Cloud for RHEL-based distributions and rabbitmq.com apt repo for Debian-based ones.

Team RabbitMQ [plans to stop publishing new releases to rabbitmq.com in a few months](https://groups.google.com/forum/#!topic/rabbitmq-users/9ASVq55wXnA) (note: existing packages won't be removed). 3.7.0 will
be distributed via [Bintray](https://bintray.com/rabbitmq), [GitHub](ht

[2017-09-26 17:10] wyardley commented on #640
@michaelklishin Thanks for the heads up. I'm happy to update apt to use packagecloud when `repos_ensure` is set (keep in mind that it's disabled by default, so the module's default behavior is to use the vendor package).

Is this how we'd want the resulting repo to look on Ubuntu 16?
[code]

Also, will the signing key [for the package itself, vs. the repo, which I think uses https://packagecloud.i

[2017-09-26 17:15] wyardley commented on #640
Just in a quick test, seeing this:
[code]

yet:
[code]
[code]

[2017-09-26 20:56] wyardley commented on #640
@michaelklishin I created #641. This will probably get merged soon, but let me know if you have any feedback, especially anything in regards to whether signing practices will remain the same.

[2017-09-27 03:50] rgeniesse commented on #605
Tried out solving this with v7.0.0 of the module and still seeing the same error randomly on my test server (4 times today). It happens on 7 of our CentOS 7 RabbitMQ servers. Happening at the exact same line as bostrowski13 mentioned. We are using using PE 2016.4.2.

I faintly remember this starting when I had to run `puppet generate types` to solve another module's upgrade issue. Running that com

[2017-09-28 05:12] michaelklishin commented on #640
@wyardley I think for the cases of vendor (distribution?) provided packages nothing should change. The signing key on `rabbitmq.com` isn't going anywhere, as won't existing packages. Note that Package Cloud repositories [use their own, PC-provided](https://packagecloud.io/rabbitmq/rabbitmq-server/install#manual-deb) signing keys. It's a good question how we should go about this.

Our key is [also

[2017-09-28 05:27] wyardley commented on #640
@michaelklishin
I will have to check again, but my memory from when I added the packagecloud repo for yum is that the repo metadata is signed by packagecloud, but the package itself is still signed with the RabbitMQ signing key; in my brief testing with apt, it seemed as if that was true as well (if you think only the PC key is sufficient, I can try using that one only).

Separately, there has bee

[2017-09-28 06:11] wyardley commented on #640
@michaelklishin I stand corrected -- for Ubuntu, with _only_ the packagecloud key, the 3.6.12 package seems to install cleanly. So I think we can rework this a little bit.

However, with RHEL, it seems to still be using the RabbitMQ signing key (which is what we've been using even since I switched to the packagecloud repo)?
[code]

So for now, I'll use the old signing key for yum, and the new for

[2017-09-28 08:04] wyardley commented on #640
I'm going to close this one for benefit of being in the right place in the Changelog... but, please do keep us up to date, and if the rpm packages switch to using the same signing key, we may need to make some adjustments. Having a mix of signing keys within the same repo may also cause problems, since the module does allow users to specify a specific version.

[2017-09-28 08:04] #640 closed

[2017-10-05 00:45] rgeniesse commented on #605
So after 5 days, removing `my_environment/.resource_types/rabbitmq_plugin.pp` ensured the error didn't happen. I added it back today and got 2 of the errors about 2 hours after. That supports my theory that it started after running `puppet generate types` in my case.

With the file back, I also tried to manage some of the RabbitMQ plugins with the module to see if something was "empty" and it havi

[2017-10-06 14:09] Minastirith opened #644 "Add variable to rabbitmq.config"
Hello,

could it be possible to add some variables in the class rabbitmq please ? I have the need to set them and I can't find it in the module.

$vm_memory_high_watermark            = $rabbitmq::vm_memory_high_watermark
$disk_free_limit                                    = $rabbitmq::disk_free_limit

Regards.

[2017-10-06 17:24] wyardley commented on #644
@Minastirith have you seen the `config_additional_variables` parameter? I believe you can use this to set most config variables.

[2017-10-10 17:31] johnkazmerzak opened #646 "admin_enable throws Server Error: no parameter named 'allow_insecure'"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.8.2
- Ruby: ruby 2.1.9p490 (2016-03-30 revision 54437) [x86_64-linux]
- Distribution:
- Module version: puppet/rabbitmq 7.1.0, puppet/archive 2.0.0, puppetlabs/stdlib 4.20.0

## How to reproduce (e.g Puppet code you use)
`admin_enable => true`

## What are you seeing
[code]
## What behaviour did you expect instead

## Outp

[2017-10-10 19:10] johnkazmerzak opened #647 "Please add a proxy parameter for the RHEL repo"
I'd like to have the ability to specify a proxy value for the rhel repo config.

Thanks!

[2017-10-10 20:49] wyardley commented on #646
Can you verify that you're running puppet/archive 2.0.0 and not one of the other archive modules? Can you post your puppet module list output? This works for me and works in the acceptance tests . I think the param comes from here:

https://github.com/voxpupuli/puppet-archive/blob/dc95b08e349e53eeef50b8f5dcbc9c5cda84e5d3/lib/puppet/type/archive.rb#L232

If I spin up the acceptance test beaker inst

[2017-10-11 15:00] johnkazmerzak commented on #646
My apologies for wasting your time. I am no longer able to reproduce the error. I had just upgraded the puppet/archive module from 0.5.1 to 2.0.0 in the Puppetfile and must have still been on 0.5.1 when the error occurred. Thanks!

[2017-10-11 15:00] #646 closed

[2017-10-12 07:47] Slm0n87 commented on #564
We exactly have the same issue after using ipvs balancing, but still want to be able to access the management console directly on each node.
If the additional variable was not set, I implemented a fallback to the old variable for backwards compatibility.

[2017-10-13 13:31] jean-gui opened #650 "Error on using puppet resource rabbitmq_binding"
I'm pretty sure this is the same issue as #147, just for another type.
I also believe most types have a similar issue.

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: master: 4.10.8
- Ruby: 2.3.3p222
- Distribution: Debian stretch
- Module version: 7.1.0

## How to reproduce (e.g Puppet code you use)

Run command `puppet resource rabbitmq_binding`

## What are you seeing

[2017-10-13 15:06] wyardley commented on #650
@jean-gui This has worked for me in recent memory (at least after I reworked the rabbitmq binding) in #504, maybe I added the validate routine _after_ testing that?

I was able to verify this against 7.1.0 in Beaker; I'll see if just moving that validation piece will fix this one.

[2017-10-13 23:28] #644 closed

[2017-10-13 23:29] wyardley commented on #647
I'll see if this is easy to implement; one other option would be to disable the `repos_ensure` param, and add the yum repo in your site code.

[2017-10-13 23:46] wyardley commented on #650
@jean-gui I think that fix should resolve your issue. Will try to get it reviewed / merged soon, but feel free to test the changes if you'd like.

[2017-10-15 08:50] juniorsysadmin commented on #647
Ideally all of the possible values for a `yumrepo` resource type should be passed down

[2017-10-15 17:28] #650 closed

[2017-10-30 17:06] cmentzer opened #658 "RabbitMQ Admin Package should work with Puppet-Archive module, or explicitly depend on camptocamp's archive module"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: PE 2016.5 - Puppet 4
- Ruby: N/A
- Distribution: RHEL 7 / CentOS 7
- Module version: 8.0.0

## How to reproduce (e.g Puppet code you use)
1. Use the Puppet-archive module
2. Include the rabbitmq class and allow Puppet to manage it's installation.

## What are you seeing
Server Error: no parameter named 'allow_insecure' at /e

[2017-10-30 17:08] heliocentric opened #659 "rabbitmqadmin install has no way of continuing to use staging in environments using an incompatible archive module"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.0
- Ruby: puppet-agents
- Distribution: rhel7
- Module version: v8.0.0

## How to reproduce (e.g Puppet code you use)

Use the puppetlabs/archive module in your environment.

## What are you seeing

Unable to install using the vendor archive module due to parameter incompatibilities.

## What behaviour did you expect in

[2017-10-30 17:25] wyardley commented on #658
FWIW, this module uses the Vox puppet-archive (as you'd expect), and is tested against that, not the Camptocamp module.

I have not seen the error you're seeing; which version of puppet-archive are you using?
https://github.com/voxpupuli/puppet-archive/blob/dc95b08e349e53eeef50b8f5dcbc9c5cda84e5d3/lib/puppet/type/archive.rb#L232-L235

I opened #660 to update the README (though `metadata.json` has

[2017-10-30 17:27] wyardley commented on #659
As best I understand, staging has been deprecated for quite some time.
I have dealt with the competing archive module dependency in the past as well, so I know it's annoying, but I don't think there's any current plan to have this module fall back to staging module or support both.
It's not a great fix, esp. because of the caching issue, but we used to work around this via PUppet environments.

[2017-10-30 18:16] cmentzer commented on #658
Seems like it was my mistake, the problem was simply that the feature branch was using the correct version of puppet-archive (2.1.0), but the MoM (production branch) was still using an older version of the module. Hence the "Server Error" portion of the error message.

[2017-10-30 18:16] #658 closed

[2017-11-01 16:57] #659 closed

[2017-11-08 13:06] cristianbalan-mf opened #662 "puppet/rabbitmq 8.0.0 - /etc/apt/sources.list.d/rabbitmq.list not updated/created"
Switching from puppetlabs/rabbitmq **5.6.0** to puppet/rabbitmq **8.0.0** works fine on _existing instance_ (Ubuntu 14.04 Trusty) but If I start with a _new instance_ (same OS), Puppet fails. Creating a new instance while switching back to **5.6.0**, works just fine.

I found that with **8.0.0**, the `/etc/apt/sources.list.d/rabbitmq.list` is not being created and as such, `rabbitmq-server` is ins

[2017-11-08 14:11] madAndroid opened #663 "Failure to install rabbitmq admin via curl when proxy set"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.1.0
- Ruby: ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]
- Distribution: CentOS7
- Module version: 8

## How to reproduce (e.g Puppet code you use)

Manifest invocation in the profile module:
[code]

Set `http_proxy`, `https_proxy` and `no_proxy` environment variables

## What are you seeing
[code]
Curl is not

[2017-11-08 17:28] wyardley commented on #663
How would folks deal with the case where an http proxy _is_ desired? I feel like hard-coding `--noproxy` would be a bad solution.

[2017-11-08 17:31] wyardley commented on #662
Are you using `repos_ensure => true` (default false)?
Take a look at the breaking changes listed in https://github.com/voxpupuli/puppet-rabbitmq/blob/master/CHANGELOG.md (this one is in 6.0.0).

[2017-11-09 09:16] cristianbalan-mf commented on #662
I'm using neither `repos_ensure` nor `manage_repos` I'm afraid.

[2017-11-09 15:14] #662 closed

[2017-11-09 18:28] wyardley commented on #662
@cristianbalan-mf Glad you got it working. Sorry if I wasn't clear. The breaking change _was_ that the module used to use the RabbitMQ package as the default, and now uses vendor (i.e., OS) one by default. So you didn't need `repos_ensure` to get that version with 5.6.x, but you do from 6.0.0 on. IIRC, `manage_repos` is now gone or deprecated.

[2017-11-22 21:12] jni- opened #668 "Rabbitmq crashing with config_ranch = true"
**DISCLAIMER**: this is a wild guess, I don't understand half of what I'm about to say. Don't take anything for granted.

We updated to v8.0.0 of this plugin and our server stopped accepting connections, producing 36Gb of crash logs in a few hours. The error looked like this :

[code]

I tracked down the error to the generated config. We now had this in rabbitmq.config :

[code]

Which was fixed b

[2017-11-22 21:42] wyardley commented on #668
@jni- Yes, I think your analysis is correct.
If you notice, the decision we made in that PR (and the reason we labeled it breaking) was to err on the side of consistency / idempotency vs. being smart about version. Since it would take potentially at least one run for the rabbitmq_version fact to exist, the earlier implementation of this was causing the module to be non-idempotent.

So while this i

[2017-11-22 22:02] jni- commented on #668
@wyardley excellent, thank you for the quick reply! I understand that dragging down current code with old versions is a pain, and you should absolutely not do it hehe I'll fix this on our side.

I think the breaking change message could be improved a little. May I suggest log messages that are user-oriented instead of effect-oriented or code-oriented. I understand the idempotency concerns, but I t

[2017-11-23 23:00] #668 closed

[2017-12-04 20:58] witchbutter opened #670 "Still can't put multiple routing keys on the same exchange"
## Affected Puppet, Ruby, OS and module versions/distributions
- Puppet: 4.10.9
- Distribution: Ubuntu 16.04 and 14.04
- Module version: 8.0.0

## How to reproduce (e.g Puppet code you use)
Any incidence where you would want multiple routing keys for a single exchange:
[code]

## What are you seeing
Only the first routing key gets used, the others are ignored

## What behaviour did you expect inst

[2017-12-04 21:05] wyardley commented on #670
Hi @witchbutter
It is supported, and works for me, however, you need to use an arbitrary unique name with source / dest / vhost as separate params. See the example in the README:
  https://github.com/voxpupuli/puppet-rabbitmq#rabbitmq_binding
There are additional examples in the acceptance tests.

If you're not getting a duplicate resource error, are you using Hiera, or declaring it resource-like?

[2017-12-04 21:06] wyardley commented on #670
ps - #504 is the PR. While this enhancement did get added, Vox doesn't take over all of the existing tickets when a module migrates to us from Puppet Labs, so it is true that some issues in the Puppet ticket system may not get dealt with if a new issue isn't raised.

[2017-12-04 21:19] witchbutter commented on #670
Ok it wasn't clear to me that was the intent in the README but it does work now that you pointed that out.

My only comment is for the config I am building I was already at 1000 lines without being able to have all the routing keys and now I will have another 30-50 resource declarations to get the remaining routing keys.  I will definitely need to create a few defined resources to reduce the repet

[2017-12-04 21:23] #670 closed

[2017-12-04 21:33] wyardley commented on #670
@witchbutter Yes, my first pass on this was actually to allow an array to be passed in for routing keys.
Unfortunately, there are some problems with doing it this way, as I realized after my first pass on fixing this problem. Not only are there cases where people need to allow same source / dest / vhost, but have other parameters besides the routing key which are different (I don't remember the ex

[2017-12-06 16:06] heap98 opened #671 "not working with rabbitmq-server 3.7 - Cannot parse invalid user line"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.3.3-1xenial
- Ruby: ruby2.4 (included in puppet package)
- Distribution: Ubuntu 16.04.3 LTS
- Module version: v8.0.0
- Rabbitmq-server : 3.7.0-1

## How to reproduce (e.g Puppet code you use)
just run
puppet agent -t

[code]

## What are you seeing
[code]
## What behaviour did you expect instead
something went wrong with n

[2017-12-06 18:13] wyardley commented on #671
@heap98:
What's the output of `rabbitmqctl -q list_users`? Does it have that same warning:
`warning: the VM is running with native name encoding of latin1 which may cause Elixir to malfunction as it expects utf8. Please ensure your locale is set to UTF-8 (which can be verified by running "locale" in your shell)`?

[2017-12-07 09:11] heap98 commented on #671
puppet runs as user root. output of the command is following and looks fine.

guest	[administrator]

`update-locale  LC_ALL=en_US.UTF-8`

doesn't fix the issue.

output von locale:

LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"

[2017-12-07 10:19] wikimatze commented on #671
I have a similar error. The solution for this is to use:

[code]

instead of:

[code]

So the problem arise with the mapped usage of `modules/rabbitmq/lib/puppet/provider/rabbitmqctl.rb` command within the project. Even if I set `#encoding: UTF-8` at the beginning of the file, it does not solve the problem.

[2017-12-07 23:11] mUbsta commented on #671
[code]
Gets around this issue

[2017-12-08 11:47] wikimatze commented on #671
@mUbsta thanks for the advice, I'll try this.

[2017-12-08 14:42] desertkun commented on #671
@mUbsta thank you very much, you have saved my life here.

[2017-12-08 18:57] wyardley commented on #671
I wonder if there's a good fix to this that's clean but avoids explicitly hard coding locales / env variables. Maybe we could capture stderr from the command and only print it in the output it if the command fails?

[2017-12-19 13:53] ThaDanus commented on #671
Thank you very much @mUbsta, this had us stumped for a couple of days!

[2017-12-20 07:58] mkelderm opened #673 "Q: How do I use Hiera yaml syntax for RabbitMQ types"
How do I use Hiera yaml syntax to access the RabbitMQ module, especially users/persmissions/ policies? IMHO I am using the syntaxis: (but they do not apply as I am running puppet).
[code]

[2017-12-21 04:22] alexizmailov commented on #671
After adding `  environment_variables => {
    'LC_ALL' => 'en_GB.UTF-8',
  }`
this ocurres:

[code]
So, this solution removes one problem and introduces another one.

[2017-12-27 04:20] alexizmailov commented on #671
Created a PR to resolve this ^^^
https://github.com/voxpupuli/puppet-rabbitmq/pull/674

[2017-12-29 23:50] wyardley commented on #673
I don't think the module has a passthrough, so you can't just do `rabbitmq::rabbitmq_policies` (for example), and if you defined >1 `rabbitmq::rabbitmq_policy` in hiera, I think it might not work because of how the data would have to be structured. What we did to define these in hiera was something along the lines of (for each resource type) in a site wrapper we used for this role:

[code]
and the

[2017-12-29 23:52] wyardley commented on #673
@mkelderm: let me know if that answers your question.

[2018-01-11 17:56] #673 closed

[2018-02-08 04:28] wyardley commented on #663
@madAndroid Does the fix added in #681 help (by allowing arbitrary download options to be passed to the archive resource)?

[2018-02-08 16:16] waza-ari commented on #671
Hm, it looks I'm also hitting this bug with latest 8.1.0 code. Distribution is CentOS 7, but also RHEL 6.8 seems to be affected.

[2018-02-20 20:56] mattboston opened #682 "Error using module on Amazon Linux 2017.09"
Using the following config, I get an error about setting up the systemd script.  Amazon Linux (an offshoot of RHEL) still uses sysvinit.  How can I use the old /etc/init.d/ scripts with your module?
[code]
[code]

[2018-03-07 03:45] paebersold opened #684 "puppet package install error when running on SLES 12"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.1.10
- Ruby: 2.1.9p490
- Distribution: SLES 12sp2
- Module version: v8.1.0

## How to reproduce (e.g Puppet code you use)

Using the default suse values from params.pp

## What are you seeing

Error: Failed to apply catalog: Parameter name failed on Package[rabbitmq-server]: Name must be a String not Array at /etc/puppetla

[2018-03-07 08:05] wyardley commented on #684
This was added fairly recently, in #656
Unfortunately, we don't yet have working acceptance tests for SLES / openSUSE, though there was some discussion about it there. I did a quick pass at trying to get it to work a while back, but wasn't able to; the "quirky" versioning also didn't help.

FWIW, the change was added at a point where the module already didn't support Puppet 3.x.  I can reproduce t

[2018-03-07 08:09] wyardley commented on #684
cc: @tampakrap @bastelfreak

[2018-03-07 09:04] wyardley commented on #682
From a quick look, this is probably partially because of the naive versioncmp at
https://github.com/voxpupuli/puppet-rabbitmq/blob/master/manifests/config.pp#L228
as 2017 > 7.
https://github.com/camptocamp/facterdb/blob/master/facts/3.6/amazon-2017-x86_64.facts#L272

So one quick fix would just be to set a sane upper limit there, or just do a straight string comparison. But as I was discussing wit

[2018-03-14 17:06] #684 closed

[2018-03-14 22:03] paebersold commented on #684
Thanks @wyardley

[2018-03-15 05:03] wyardley commented on #663
I believe #681 should resolve this; please re-open or clarify if this doesn't help.

[2018-03-15 05:03] #663 closed

[2018-03-19 15:38] oneiros-de commented on #671
We are seeing the same issue with Debian 8.10 and RabbitMQ 3.7.2 on Erlang 20.1

[2018-03-19 18:40] wyardley commented on #671
Can someone post the actual `list_users` output from one of the affected systems?

[2018-03-20 15:30] oneiros-de commented on #671
`guest	[administrator]`

[2018-03-20 16:20] cdenneen opened #689 "rabbitmq_user_permissions timing out"
- Puppet: 4.10.1
- Ruby: 2.1.9 (puppet embedded)
- Distribution: Centos7
- Module version: 7.1.0, 8.1.0
- Rabbitmq: rabbitmq-server-3.3.5-34.el7.noarch

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
Have 2 prompts open to server running apply:

1. puppet apply
[code]

at the same time as the "retrying" getting the following on second terminal
[code]

## What behaviour

[2018-03-20 20:26] cdenneen commented on #689
Docs still maintain to use EPEL for EL distros.
EPEL latest `rabbitmq-server` is `3.3.5-34`. erlang is pretty old too using garethr-erlang.
So the options are to switch to using packagecloud for both `rabbitmq/rabbitmq-server` and `rabbitmq/erlang`.

so the puppet code above has be migrated to:

[code]

**NOTICE** the LC_ALL `environment_variable`... older versions of rabbitmq I never had this pro

[2018-03-21 05:19] wyardley commented on #689
Yeah, should definitely clarify the docs on the erlang thing. I was part of the decision to use OS packages by default, but in hindsight, might be time to re-evaluate that. At any rate, anyone doing a new setup with RabbitMQ would definitely want to use the newer version, and while the param is documented, we should maybe make the docs on setting `repos_ensure` bit more prominent in the README as

[2018-04-03 21:53] wyardley commented on #689
Can someone see if #690 fixes this?
Also, could the folks on affected systems let us know if you have anything in `/etc/default/locale`?

[2018-04-04 05:57] wyardley commented on #671
Can you see if #690 resolves this?

[2018-04-05 09:50] oneiros-de commented on #671
@wyardley Doesn't seem so
[code]

[2018-04-05 23:47] wyardley commented on #689
So can seem to reproduce that error w/ rabbitmqctl if I install newer Erlang and RabbitMQ and then set the locale to C.
Even if I follow the various shell scripts down to what they call, it seems to be coming from this:
[code]
So I think this is coming directly from RabbitMQ.

I did open https://github.com/rabbitmq/rabbitmq-server/issues/1572 to try and get a bit of clarity... if it really needs U

[2018-04-06 00:10] michaelklishin commented on #671
This is [an Elixir requirement](https://github.com/elixir-lang/elixir/issues/3548) and their team seems to feel strongly about this.

Configuration software that uses CLI tools can override locale environment variables for the calls that expect an output that is parsed:

[code]

Team RabbitMQ will consider forcing this in our shell scripts (https://github.com/rabbitmq/rabbitmq-server/issues/1573)

[2018-04-09 22:24] wyardley commented on #689
Merged a fix that forces `en_US.UTF-8` vs. `C`, which fixes in my test environment.

[2018-04-09 22:26] wyardley commented on #671
Merged a fix that forces `en_US.UTF-8` vs. `C`, which fixes in my test environment.
Happy to help if someone wants to play with a fix that actually ignores the output, but I think this would require significantly more effort for maybe not much gain.

[2018-04-09 22:33] #671 closed

[2018-04-09 22:33] #689 closed

[2018-04-17 09:26] jjuarez opened #697 "How to install custom plugins label:question"
Hi,

is there a clear way to install custom plugins?, Let me elaborate a bit our scenario; We're working with the MQTT plugin but our rabbitMQ instances need an special plugin, I would be enough to copy the file into the plugins directory and activate it with the rabbitmq_plugin resource?

thanks in advance,
Javier

[2018-04-18 06:49] jjuarez commented on #697
For now I'm trying to install the plugin file as another file resource and activate it through the rabbitmq_plugin resource, without success, any idea will be welcome

[2018-04-18 17:35] wyardley commented on #697
I can see if I can still find how I did something like this in the past. Does dropping the file in place and restarting the service pick it up?

IIRC, you can just drop in the .ez file https://www.rabbitmq.com/installing-plugins.html

[2018-04-18 18:17] jjuarez commented on #697
We've solved this use case with an ugly workaround, because We needed to install a patched version of the MQTT plugin in our infrastructure (we need to use "." in the topics), mainly based on Debian Stretch, and the OS package didn't help very much, and the plugin is in de core o the rabbitMQ distribution (how about a separate package for the non core plugins?), so after the installation of the pa

[2018-04-19 21:04] jjuarez opened #698 "Allow the remote connections with the guest user"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.X
- Ruby: 2.4.X
- Distribution: Debian Stretch
- Module version: 8.2.2

## How to reproduce (e.g Puppet code you use)
The current version of the module doesn't allow to configure the exceptional use case to allow remote connections with the guest user

## What are you seeing
The configuration is not complete

## What behav

[2018-04-24 07:59] jstewart612 opened #700 "Policy setting is broken after successfully setting the following policy"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:  4.10.11
- Ruby:  ruby 2.1.9p490 (2016-03-30 revision 54437) [x86_64-linux]
- Distribution:  Scientific Linux 7
- Module version:  8.2.2
- RabbitMQ version: 3.7.4

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
[code]

## What behaviour did you expect instead
Considering you allowed it to be app

[2018-04-24 18:35] wyardley commented on #700
It's interesting, because that line does seem to match the regex in the code, I'll see if I can easily reproduce. What RabbitMQ version are you using? This is with <= 3.7, based on the line's format, right?

[code]

[2018-04-24 18:42] jstewart612 commented on #700
Well, that may be my problem?  I am using RabbitMQ 3.7.4.... did the ACL format change or something in >=3.7?

[2018-04-24 19:46] wyardley commented on #700
@jstewart612 I spun up the beaker box (`export BEAKER_destroy=no`), ran the rake task, sshed to the box and installed Erlang 20 manually, and ran the following test, which seems to not reproduce the problem. Is it possible that you don't have the most recent version of the module after all somehow (with the workaround for >= 3.7)?

[code]

[2018-04-24 20:08] #698 closed

[2018-04-24 22:38] #700 closed

[2018-04-24 22:38] jstewart612 commented on #700
Stale rb file on agent.... fixed and problem corrected itself.

[2018-04-24 22:39] jstewart612 commented on #700
Thanks @wyardley ..... should have thought to check that.  It was on 8.2.0 instead of 8.2.2. as I had reported.

[2018-04-24 22:40] wyardley commented on #700
@jstewart612 Awesome! Glad it's working now.

[2018-04-26 15:41] mattboston opened #701 "Can't connect to IPv4 Address"
## Affected Puppet, Ruby, OS and module versions/distributions
- Puppet Server: CentOS 7
- Client Server: Amazon Linux 2 (2017.12)
- Puppet: puppetserver-2.8.1-1.el7.noarch
- Foreman: foreman-1.16.0-1.el7.noarch
- Ruby: 2.1.9
- Module version: 8.2.2

## Config
[code]
## Config Generated
[code]

## Netstat Output
[code]
## Nmap Output
[code]

## What are you seeing
For some reason when Rabbit gets

[2018-04-26 16:41] dn1s commented on #701
Is `$ipv6` set to `false` in rabbitmq::params and was not overwritten somewhere?

[2018-04-26 17:34] mattboston commented on #701
It's set to false.  Where else would it be set?

# grep ipv6 params.pp
  $ipv6                                = false

[2018-04-26 17:43] wyardley commented on #701
Edited the post just to put some of the output into fixed width. I don't have any answers for you, but I do remember coming across some quirks along these lines when I was working on the acceptance tests, and just more generally when I was running RabbitMQ.

Which RabbitMQ version are you using?

[2018-04-26 17:45] wyardley commented on #701
I notice you have `management_ip_address` explicitly set; does setting this param change anything for you?
https://github.com/voxpupuli/puppet-rabbitmq/blob/v8.2.2/manifests/init.pp#L134-L135

[2018-04-26 20:18] mattboston commented on #701
Somewhere I saw mention of management_ip_address, so decided to try that, as well as specifying port.  I just tried node_ip_address => '0.0.0.0' and that moved port 5672 over to tcp. Here's the results of netstat now.

Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 0.0.0.0:15672

[2018-05-16 15:26] gallart opened #703 "Owner of /etc/rabbitmq"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: any
- Ruby: any
- Distribution: Gentoo
- Module version: Latest

## How to reproduce (e.g Puppet code you use)

Default code.

## What are you seeing

Wrong permissions on /etc/rabbitmq or NOT forced.

## What behaviour did you expect instead

Permissions of /etc/rabbitmq should be force to be owned by `$rabbitmq_user`. Beca

[2018-06-22 09:24] CTrox opened #704 "rabbitmq_version fact fails on Ubuntu 18.04"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.2
- Ruby: 2.4.4p296 (from Puppet)
- Distribution: Ubuntu 18.04, Package rabbitmq-server 3.6.10-1
- Module version: 8.2.2

## How to reproduce (e.g Puppet code you use)
Add the rabbitmq class on a Ubuntu 18.04 system using the Ubuntu repo and run puppet.
[code]

## What are you seeing
[code]
This happens because `rabbitmq

[2018-06-25 18:43] #704 closed

[2018-07-09 15:00] wikimatze opened #706 "no parameter named 'download_option'"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.2
- Ruby: 2.3
- Distribution: Ubuntu 16.04
- Module version: 8.2.0

## How to reproduce (e.g Puppet code you use)

## What are you seeing

`Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: no parameter named 'download_options' at /opt/puppetforge/modules/rabbitmq/manifests/install/rabbitm

[2018-07-10 06:55] wikimatze commented on #706
My "solution" so far:

[code]

I have checked the files of could find that the archive_options are just fine defined (like you mentioned in your PR)

[2018-07-10 07:02] wyardley commented on #706
Ah I see, Yeah, we're passing `archive_options` to the archive module's `download_options`.
What does `puppet module list` show? Is it possible you have a competing archive module like the camptocamp one?

[2018-07-24 17:59] mattboston commented on #703
- Puppet Agent: puppet-agent-1.10.14-1.el7.x86_64
- Puppet Server: puppetserver-2.8.1-1.el7.noarch
- Ruby:  ruby-2.0.0.648-33.amzn2.0.1.x86_64
- Distribution: Amazon Linux 2
- Module version: Latest

I'm having the same issue.  I've gone ahead and made the changes directly in the module so it works

[2018-07-25 10:19] wikimatze commented on #706
I'm currently living with that 'solution' - other things were not working.

[2018-08-17 17:54] meltingrobot opened #713 "Update to not require puppet apt module < 5.0"
Hi, having librarian barf out on this module when I'm trying to update the apt module the 5.0.1 due to this line in spec/spec_helper_acceptance.rb

install_module_from_forge('puppetlabs-apt', '>= 4.1.0 < 5.0.0') if fact('os.family') == 'Debian'

I need the newer apt module for Ubuntu 18.04.

[2018-08-18 00:13] wyardley commented on #713
https://github.com/voxpupuli/puppet-rabbitmq/pull/714

[2018-08-18 00:14] wyardley commented on #713
See my comments in #714 - are you sure this is the reason, though?

Also note that Ubuntu 18.04 is not currently listed in supported versions in the module's metadata anyway. I'm not sure if we're testing 18 in acceptance tests yet, but might make sense to submit a separate PR to add support for Ubuntu 18. It's possible that the module might need some other fixes for that, aside from metadata.

[2018-08-18 00:41] wyardley commented on #713
Right, but modules themselves list the OSes they support — in this case, it would apply to where you’re running the module, not to the puppet server itself

That’s not to say that the module will not work on Ubuntu 18, but it’s not currently listed as supported in the rabbitmq module, and we don’t test against it.

[2018-08-18 17:39] #713 closed

[2018-08-22 06:29] tardoe commented on #706
I'm having a similar issue - no other competing modules.

Puppet 4.10.12
Module Version: 8.2.2

[2018-08-27 11:46] juniorsysadmin opened #717 "Fix Beaker test dependency on garethr/erlang"
garethr/erlang is currently stale. Docs reference it. Sadly, other erlang modules on the Forge seem stale as well.

Reliance on garethr/erlang causes all Beaker acceptance tests to fail.

[2018-08-27 18:01] wyardley commented on #717
Agreed - the docs should probably be updated completely. When I've done some basic testing, I've ended up using other methods to satisfy the erlang dep.

I'm not sure how useful an erlang module would be - if someone wanted to take a stab at updating it to make it useful, I'm guessing @garethr might be willing to have Voxpupuli take over the erlang module?

[2018-08-27 18:28] wyardley commented on #717
Not 100% sure from memory.
For newer versions of RabbitMQ, IIRC, I actually didn't have any luck with either garethr/erlang _or_ epel, and had to do some manual work to get things going (this doesn't affect the acceptance tests as they are today, but would be an issue for actual users of the module).

If it helps, here are the RMQ docs on the 3 ways to satisfy the erlang dep:
https://www.rabbitmq.

[2018-08-29 11:15] dn1s commented on #130
I'm working on this issue.
Gonna issue a pr in the next days.

[2018-08-30 15:01] wyardley commented on #706
Can folks having problems confirm the archive module you’re using (name and version)

[2018-08-30 21:34] internaught opened #719 "tcp_listen_options is causing clients not to be able to connect"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.5.2
- Ruby:
- Distribution: CentOS 7
- Module version: 8.2.0

## How to reproduce (e.g Puppet code you use)
use this module

## What are you seeing
Clients aren't connecting

## What behaviour did you expect instead
i expect clients to be able to connect

## Output log
[E 180830 21:31:31 events:123] Failed to capture event

[2018-09-04 19:56] mjrasobarnett commented on #706
I had this problem as well, but I was using an older version of puppet-archive (https://github.com/voxpupuli/puppet-archive) - I used version v1.3.0.

Looking through the commits for puppet-archive, it looks like the download_options param on the archive type only got added from release v2.0.0 onwards.

I upgraded puppet-archive in my environment to version 2.0.0 and I can confirm that this fixes

[2018-09-04 20:07] wyardley commented on #706
@mjrasobarnett thanks! that's very useful information. I'll throw up a PR to update the metadata!

[2018-09-04 20:13] wyardley commented on #706
It's interesting that the OP has `puppet-archive 3.0.0`. That said, I hope the PR should help avoid this situation for most users?

[2018-09-04 20:15] wyardley commented on #719
#621 has some more background and discussion about this
If memory serves, we intended to avoid making the behavior too "magical" (and keep it idempotent) by basing it on the rabbitmq version fact.

If I get a chance, I'll add a note somewhere in the README and also document that param in the docstrings.

[2018-09-04 20:28] #706 closed

[2018-09-04 20:40] mjrasobarnett commented on #706
Actually there could be another element to this, as looking closer at my own set up I'm seeing occasional re-occurrences of this error even after updating the puppet-archive module.

However, in my own case, I believe what I'm seeing is because of this: https://puppet.com/docs/puppet/5.3/environment_isolation.html  ( I don't yet do the r10k recommendations in that article...)

since I am testing t

[2018-09-04 20:52] wyardley commented on #706
@mjrasobarnett I have had that issue in the past as well (when using "environments" to manage multiple archive environments). The default one needs to get loaded (by a client) first, or you end up with caching issues.

[2018-09-05 21:49] wyardley commented on #719
I've created a docs fix for this in #719 -- hope this helps.

[2018-09-05 21:49] #719 closed

[2018-09-05 21:57] wyardley commented on #682
@mattboston I know this has been a while, but if this is an issue, can you see if the latest version of the module behaves the same way? There have been some changes in this logic in the latest release thanks to @bastelfreak, however, the module may still need some additional work to officially support Amazon Linux.

[2018-09-06 10:43] mattboston commented on #682
I noticed this with another puppet module as well, so I got around this by setting a default Service provider base on the version of linux in one of my higher level modules.

Basically, it looks a bit like this and if it's a certain OS, then I define $service_manager in Foreman if it has issues w/ using the correct service manager.

I'll see if I can test the new code next week.

[code]

[2018-09-06 14:08] bastelfreak commented on #682
Is this is a bug within Puppet? If I see this correctly, we do not write the service file and we do not set the service provider (or am I blind?). Puppet should fiddle that out itself. what does ```facter -p service_provider``` say on your box?

[2018-09-07 12:49] mattboston commented on #682
I'm also having an issue w/ nrpe where I have to do the same thing.  These are the only instances running Amazon Linux 2, just for RabbitMQ.  All my other instances in my network are Amazon Linux and 1 CentOS and I'm not having this issue w/ the wrong service provider.

# facter -p service_provider
redhat

# cat /etc/os-release
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"

[2018-09-07 15:06] bastelfreak commented on #682
mhm, so the default provider is already redhat. Unless it is explicitly set to something else, it should work out of the box. Can you do on the box:
[code]
and throw the output into this issue?

We don't set the serviceprovider, and the default should be the same as the ```service_provider``` fact:

https://github.com/voxpupuli/puppet-rabbitmq/blob/9af05f6ff5dec48e796dd98a481e3475f8b2150e/manifest

[2018-09-07 15:20] wyardley commented on #682
I think the issues were more related to some of the version specific code in the module, as Amazon Linux has different versioning (tho not sure why the workaround mentioned helps)

[2018-09-07 15:47] mattboston commented on #682
Due to being an older ticket and lack of info, there may be some confusion.  Originally I tried installing on Amazon Linux 2017.09, but had issues, so tried Amazon Linux 2.  The Amazon Linux YYYY.MM seem to be following the service/init.d scripts, but Amazon Linux 2 has moved to systemd, the later having issues with service provider.  You guys have been great jumping on this, let me set aside some

[2018-09-07 15:48] mattboston commented on #682
**Amazon Linux 2018.03**
[root@search-idx-c001s001 ~]# puppet resource service $servicename --debug
Debug: Runtime environment: puppet_version=4.10.12, ruby_version=2.1.9, run_mode=user, default_encoding=UTF-8
Debug: Evicting cache entry for environment 'production'
Debug: Caching environment 'production' (ttl = 0 sec)
Debug: Evicting cache entry for environment 'production'
Debug: Caching environ

[2018-09-07 15:48] mattboston commented on #682
**Amazon Linux 2**
[root@job-mq-c001s002 ~]# puppet resource service $servicename --debug
Debug: Runtime environment: puppet_version=4.10.12, ruby_version=2.1.9, run_mode=user, default_encoding=UTF-8
Debug: Evicting cache entry for environment 'production'
Debug: Caching environment 'production' (ttl = 0 sec)
Debug: Evicting cache entry for environment 'production'
Debug: Caching environment 'prod

[2018-09-07 18:03] wyardley commented on #682
[wrapped your debug output in backticks]

While I don't like the old Amazon Linux numbering, if they're moving to '2' and '4', that could really cause some conflicts with actual RH numbering. And in this case, it seems like the version is based on Linux kernel version? What does `/etc/redhat-release` write?

We might have to make os detection more complicated if we want to account for all possible

[2018-09-25 19:05] spuder opened #727 "Make restarting services optional"
If you change any config file, the puppet module will restart the service. This is not ideal since restarting a service unexpectedly can cause messages to be lost.

[code]

The restarting of services should be configurable.

[2018-10-03 14:22] #727 closed

[2018-10-04 12:24] geekix opened #729 "Rabbitmqadmin doesn't use management_ip_address parameter"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.8
- Ruby: 2.1.9
- Distribution: Debian 8
- Module version: 8.3.0

## How to reproduce (e.g Puppet code you use)

In Hiera : rabbitmq::management_ip_address: '1.2.3.4'

## What are you seeing

When the management_ip_address parameter is set (and different then 127.0.0.1), I get a "connection refused" error message on rabbit

[2018-10-04 14:36] spuder commented on #727
What is the process for releasing this to the puppet forge? I'd like to update my `Puppetfile` to adopt in these changes.

[2018-10-04 18:45] wyardley commented on #729
I'm not 100% sure, you'd think it could get the host from the config file, but maybe `-H [hostname]` needs to be passed? This isn't something I'll be able to look at / fix, but I'd be happy to review if someone can come up with a PR for it. It could end up being pretty difficult, since those arguments are set separately in each of the providers.

[2018-10-04 19:11] bastelfreak opened #733 "Allow Puppet 6.X"
we already test against puppet 6, we need to allow it in our `metadata.json`.

[2018-10-04 19:12] #733 closed

[2018-10-05 10:03] geekix commented on #729
Hello,

Thanks for your quick answer. After looking a bit more in the module code, I found that rabbitmqadmin is not using the management_ip_address parameter but management_hostname.

I did set the management_hostname parameter to the same value as management_ip_address and I don't have the issue anymore.

so if I understand correctly, management_ip_address manages the listener and management_hos

[2018-10-05 10:03] #729 closed

[2018-10-05 16:40] wyardley commented on #717
I think the beaker issue is fixed, however, there are probably still improvements to be made around the docs, as well as figuring out the best way to satisfy the erlang dependency.

[2018-10-11 12:14] vchepkov opened #734 "add federation configuration"
Please consider to add rabbitmq_federation plugin managing/configuration

[2018-10-16 15:34] vchepkov commented on #734
Unfortunately, I can't properly form uri string with multiple upstream servers

[code]

I tried different combinations, but it seems provider doesn't pass it properly

[code]

[2018-10-18 16:49] AnnieTheEagle opened #737 "Change existing binding doesn't seem to work!"
Whenever I try to change an existing binding, that was in the .pp file before, it seems to write to the notice log that it has changed the binding, but it hasn't actually.

Example:
- Old config -
[code]

- New Config -
[code]

Notice there is a change to the "log_level" argument (both the key and the value have changed).

When running this change we get:

[code]

But nothing actually changes...

[2018-10-19 06:43] wyardley commented on #737
Is this with the latest version of the module?

[2018-10-19 08:45] AnnieTheEagle commented on #737
@wyardley Hi, yes. I am using module version 8.4.0 and RabbitMQ version 3.7.7

[2018-10-23 04:41] wyardley commented on #737
@AnnieTheEagle thanks. I probably won't be able to investigate this anytime soon, though if you can print the debug output, and the (sanitized) commands that Puppet is calling around that message, that might help see what's going on somewhat? Taking a quick look through the type / provider, I'm not totally sure how it's even updating existing binding resources at all.

Another thing that might hel

[2018-10-23 08:48] AnnieTheEagle commented on #737
@wyardley I think I've at least worked out why it doesn't work. It seems that there is a field required (when using `rabbitmqadmin` or the API called 'properties_key', which is a string built up of: `routing_key + "~" + args_hash`, this args_hash is created using some mysterious way, embedded deep in the erlang source (calls `phash2/2`).

This `phash2/2` is an erlang specific function that creates

[2018-10-23 17:43] nick-dasilva commented on #701
Hi, I ran into a similar issue with a standalone/single-node config, also on CentOS 7.  The issue appears to be a buggy combination of RabbitMQ and Erlang versions available in the EPEL repository.

I was able to work around the problem by setting the rabbitmq class's $repos_ensure parameter to "true," as well as manually importing the "official" Erlang distribution repos from the [RabbitMQ Erlang

[2018-10-23 20:31] wyardley commented on #701
Thanks @nick-dasilva
The current README and code probably doesn't do the right thing around Erlang anymore. I don't have time to devote to it, but feel free to submit PRs about either code changes or docs changes to make some of this easier.

I think the erlang module we're using is more or less abandoned.

[2018-11-18 12:52] jurim76 commented on #671
Same issue again

In rabbitmq-3.7.9 added a new string "user tags", that breaks output parsing

Listing users ...
user    tags
comps   [management]
tr3     [management]
admin   [administrator]
sugarcrm        [management]
backup  [administrator, management]
zabbix  [monitoring]
tasks   [management]

Puppet exit with error

"Error: Failed to apply catalog: Cannot parse invalid user line: user    ta

[2018-11-18 14:00] benpollard commented on #671
See https://github.com/rabbitmq/rabbitmq-cli/issues/273 for details on how to solve this issue.

[2018-11-21 08:16] ralfbosz opened #740 "rabbitmqctl 'broken' in 3.7.9"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.5
- Ruby: 2.1.9p490
- Distribution: CentOS 7
- Module version: v8.4.0

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

Error: Failed to apply catalog: Cannot parse invalid user line: user    tags

## What behaviour did you expect instead

No error

## Output log

Debug: Executing: '/usr/sb

[2018-11-21 10:01] ralfbosz commented on #740
Trying it:

https://github.com/ralfbosz/puppet-rabbitmq/blob/list_users/lib/puppet/provider/rabbitmq_user/rabbitmqctl.rb

But not deepdived in the rspec so this is also done...

[2018-11-21 11:32] s10 commented on #740
This is an issue not only for list_users. list_policies, list_vhosts and others are also affected.

[2018-11-21 15:47] lukebakken commented on #740
To clarify, versions 3.7.0 - 3.7.7 do not have the header row (by mistake), there is no way to disable the header row in 3.7.8, and version 3.7.9 adds support for `--no-table-headers`.

[2018-11-21 16:07] michaelklishin commented on #740
All 3.7.x versions should support

[code]

which would produce output in the CSV format. HTTP API can list most things and hasn't changed in years. Consider using it instead of parsing CLI tools output. `rabbitmqadmin` output also hasn't changed in a long time but we can't guarantee that it will remain the case as CLI output by default is meant to be used by humans, not deployment tools.

[2018-11-21 16:10] michaelklishin commented on #740
Piping `rabbitmqctl -q list_users` through `grep -v ^user` or similar might be sufficient.

[2018-11-21 16:13] wyardley commented on #740
There was a WIP to convert at least one of the providers to use the http API. While this would add some Ruby dependencies it’s probably worth doing if someone wants to take it on.

[2018-11-21 16:16] michaelklishin commented on #740
There's also `rabbitmqctl list_users --formatter=json` (should work equally fine for all `list_*` commands). Obviously we expect the CSV and JSON formatters of said commands to remain stable as long as their input rows do so.

[2018-11-28 19:31] wortmanb opened #741 "Error 765 after latest update"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.0.2
- Ruby: 2.0.0p648
- Distribution: CentOS 7.5.1804
- Module version: 5.5.0

## How to reproduce (e.g Puppet code you use)

puppet agent -t --tags rabbitmq

## What are you seeing

No matter what tags I try to restrict the puppet agent run to, it always errors with this, which I believe relates to rabbitmq because I only

[2018-11-28 19:39] wyardley commented on #741
Maybe run `puppet-agent` with `--debug` - that should at least provide a better hint of what's failing where.
Are you really using module version 5.5.0? I would definitely update to 8.4.0 if you haven't already.

[2018-11-28 19:41] wortmanb commented on #741
Wait, I thought I had upgraded to the latest & greatest... Standby.

[2018-11-28 19:43] wortmanb commented on #741
No, it is 8.4.0. I looked at HISTORY.md before realizing that it wasn't actively in use any more.

[2018-11-28 19:43] wyardley commented on #741
The 5.x releases are under the puppetlabs namespace, before Vox took over the module: https://forge.puppet.com/puppetlabs/rabbitmq vs https://forge.puppet.com/puppet/rabbitmq (yes, it's confusing that Vox is "puppet"). There should be a deprecation notice on the forge page for the former.

[2018-11-28 19:51] wyardley commented on #741
In addition to the debug output, maybe include the relevant bits of your config. Also, have a read of #740 if you haven't already, though this seems like a slightly different issue. Probably someone should rework the providers to use json output where feasible, and / or switch to using the HTTP API.

There hasn't been much work on this lately, and I don't have the time / inclination to do much, bu

[2018-11-28 19:54] wortmanb commented on #741
Here's what I think is the relvant section (my system's airgapped, so any apparent typos here are just transcription errors):

[code]

When I try this by hand:

[code]
I'm betting it's the header row that's giving us problems. When I add "--no-table-headers" after the "-q", this seems to work just fine on the command line. I'll patch the code here and see if I can get past (another of these) annoy

[2018-11-28 20:04] wortmanb commented on #741
That cleared it up. Thanks for the pointers.

[2018-11-28 20:13] wyardley commented on #741
Thanks! If you're able / willing to go through some back and forth to make sure it's backwards compatible and tested / tests clean, please submit a PR for this. Per the comment in other PR, the best (though not easiest) solution may be to use the json output format.

[2018-11-28 20:39] wyardley commented on #740
I think #741 seems similar.
Note that 3.7.9 isn't officially supported (https://github.com/voxpupuli/puppet-rabbitmq#module-description)

I don't have the time / inclination to do these fixes, but would be happy to help review.

@michaelklishin do you know off-hand if there are any old versions that don't support `--formatter=json`? i.e., if someone reworked the provider to use this, would we need

[2018-11-29 10:42] wortmanb commented on #741
I just forked the project and will gladly take a pass at making these changes good enough for a PR. Thanks for your help!

[2018-11-29 11:52] wortmanb commented on #741
Is there an easy way to test my changes against earlier versions without having to install multiple older versions myself?

[2018-11-29 16:08] wyardley commented on #741
It depends how you make your changes. If you're switching to JSON output, you'll have to update all the test cases, whereas if you're adjusting the regex, you could make new unit tests with the new expected output, and also keep the old ones. I prefer the former, but for that, all the expected output will have to be changed, so we need to be a little bit more careful. You'd probably want to instal

[2018-11-29 18:32] wortmanb commented on #741
Makes perfect sense. Available time (and extra computing resources) is my enemy right now, but I will try to do what I can if no one else gets to it first.

[2018-12-03 11:12] Mezzle opened #742 "Package cloud APT GPG key changed?"
## Affected Puppet, Ruby, OS and module versions/distributions

- Distribution: Ubuntu/Debian

## How to reproduce (e.g Puppet code you use)

Attempt to install rabbitmq-server using apt method

## What are you seeing

Failure to validate APT gpg key as it's not available

## What behaviour did you expect instead

Installation of rabbitmq-server

## Any additional information you'd like to impart

[2018-12-03 11:21] Mezzle commented on #742
Seems that this is due to the Package Cloud migration as mentioned at

https://www.rabbitmq.com/signatures.html#package-cloud

[2018-12-03 12:32] dduuch commented on #671
So the issue is not resolved for new rabbitmq.

[2018-12-03 18:08] wyardley commented on #742
There have been some discussions about the best / safest way to handle GPG keys in modules. I don't think anyone would argue that the current way is ideal.

re: public key servers, I think anyone can submit a key to the public keyservers, so if we prefer that source, I think that should be feasible too.

[2018-12-05 03:08] jarro2783 commented on #742
Package cloud has their own puppet module, so should rabbitmq just use that instead?

[2018-12-05 03:35] wyardley commented on #742
I think I looked at that module when I was setting the stuff up and there was a reason I didn’t use it, but don’t remember what it was now.

[2018-12-06 08:13] #742 closed

[2018-12-08 05:52] wyardley commented on #740
Just confirmed in the acceptance testing that there's no json / csv formatter on older versions.
Using the API might be the most stable, and might be easier than managing code and tests for two different output formats.
[code]

FWIW, a lot of good work was done in #529 that might be able to be used if someone wanted to take on the project. IMHO, if possible, it would be better to do it without pul

[2018-12-08 06:34] wyardley commented on #741
It does look like you can reference facts within providers. Whether it's safe to just key this on `rabbitmq_version` fact, I'm not totally sure.

See some other notes that I put in https://github.com/voxpupuli/puppet-rabbitmq/issues/740#issuecomment-445433853 and the comments there from Michael.

[2018-12-10 15:44] rzitter opened #748 "Wrong rabbitmq-plugins command is used installing plugins"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.8
- Ruby:
- Distribution: EL6
- Module version: 8.4.0

## How to reproduce (e.g Puppet code you use)
Install and configure a rabbitmq server for the first time and enable an extra plugin

## What are you seeing
The extra plugins are enable but not running.

[code]

## What behaviour did you expect instead
The extra plug

[2018-12-18 08:31] TomRitserveldt opened #754 "rabbitmq admin password that contains special characters causes the rabbitmq module to throw errors"
Using a rabbitmq admin password that contains special characters causes the rabbitmq module to throw errors, containing said admin password.

for example in the create part of:
`puppet-control-repo/modules/upstream/rabbitmq/lib/puppet/provider/rabbitmq_binding/rabbitmqadmin.rb`

[2018-12-18 15:14] wyardley commented on #754
What module version are you running? Thought this had been fixed (I know I’ve used special characters on passwords and created bindings in the past), but can take a look at this sometime if you can post your version of the module, of RabbitMQ, and of Puppet

[2018-12-18 16:32] TomRitserveldt commented on #754
Our HEAD is currently at commit 8452f04c93c8cba52e8af20bc550f761ab953fae
from the 26th of October (2018).

we're waiting on this PR https://github.com/voxpupuli/puppet-rabbitmq/pull/739 to be merged to sync back to master on this repo.

rabbitmq version: rabbitmq-server 3.6.6-1
puppet server version: 5.3.4

[2018-12-19 05:50] wyardley commented on #754
repro code:

[code]

[2018-12-19 06:38] wyardley commented on #754
I know roughly how to fix this, but running into some oddities so far.

re: #739 I think the test(s) still need to be adjusted or updated, and I don't think the author has responded to any feedback there, so I can't say if / when it would be merged unless someone else wants to work on it more.

[2018-12-20 04:34] wyardley commented on #754
The password does seem to get double-quoted by the shell exec. Some of the problem has to do with escaping, but I think there's also a separate issue in RabbitMQ itself with passwords containing a dollar sign (at least affecting the version I was testing with, and possibly others):

https://github.com/rabbitmq/rabbitmq-server/commit/381bf067b5be77f513e9fff18ffb9d32c910b505

[code]

So, escaping th

[2018-12-20 07:38] TomRitserveldt commented on #754
I've been testing some variations and it seems like the dollar sign is the culprit when setting the (admin) user password. So currently a workaround for us would be to avoid the dollar sign in passwords.

As we are using rabbitmq 3.6.6, manually setting the password works fine:

But when you set the password (without escaping the dollar sign) in puppet, it seems to not properly set the password an

[2018-12-20 19:17] wyardley commented on #754
@TomRitserveldt if you're setting it that way, that's your problem. See the comment in https://github.com/voxpupuli/puppet-rabbitmq/issues/754#issuecomment-448864855  Try this instead:
[code]

To see what I mean, try:
[code]

If you define both the password and the other resources in your Puppet config single-quoted with RabbitMQ 3.6.x and the newest version of the module, as in my example above,

[2018-12-22 19:57] wyardley commented on #754
I'm going to not flag this as a bug for now, since it seems that the behavior with older RMQ versions and the resulting inconsistency is a RMQ issue that has already been resolved. I'm going to close the issue too, but feel free to open if you come across any additional issues with quoting / escaping of passwords.

It may still be necessary to backslash escape certain special characters when using

[2018-12-22 19:57] #754 closed

[2019-01-11 21:05] witchbutter opened #756 "Module always installs RabbitMQ 3.5.7 even if pinned at 3.6"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.8
- Module version: 8.4.1

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing

The module always installs version 3.5.7 then on a subsequent run upgrades to the latest 3.6 version in this case 3.16.6.  Once upgraded the fact rabbitmq_version still reports the version as 3.5.7 for no apparent reas

[2019-01-15 11:08] baurmatt opened #757 "Officially support Ubuntu 18.04"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: Ubuntu 18.04
- Module version: Current master

## How to reproduce (e.g Puppet code you use)
Take a look into metadata.json

## What are you seeing
Ubuntu 18.04 isn't supported

## What behaviour did you expect instead
Ubuntu 18.04 is supported

## Output log

## Any additional information you

[2019-01-15 11:08] baurmatt commented on #757
Will provide a PR.

[2019-01-15 23:00] wyardley commented on #741
Closing via #759

[2019-01-15 23:00] #741 closed

[2019-01-16 06:44] ralfbosz opened #763 "rabbitmqctl -q status failes"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.3.2
- Ruby:
- Distribution: Centos 7
- Module version: no version, since the latest PR isn't released yet in a version

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing

[code]

## What behaviour did you expect instead

A Puppet apply without errors.

## Output log

In /var/log/rabbitmq/log/cras

[2019-01-16 07:04] wyardley commented on #763
Thanks for testing this; maybe worth fixing before releasing 8.5.0.

Maybe similar to the issues w/ rabbitmq-plugin path (e.g., #566)

@ralfbosz: What does `which rabbitmqctl` say, and what about `rpm -qf /usr/sbin/rabbitmqctl` vs `/usr/lib/rabbitmq/bin/rabbitmqctl`?

@JayH5: you have any thoughts on this?

[2019-01-16 07:19] ralfbosz commented on #763
On the command line which shows me the '/usr/sbin/rabbitmqctl', I think the provider doesn't find this and takes the default (which the logging shows me).

Both files are part of the RPM:

[code]

But they are not the 'same':

[code]

Seems the version in '/usr/sbin' is using `runuser` and the version in the lib-dir isn't. Which is a main cause for this error:

https://www.rabbitmq.com/troubleshoo

[2019-01-16 07:22] wyardley commented on #763
Yeah, and the fallback now is to the `/usr/lib` one:
https://github.com/voxpupuli/puppet-rabbitmq/blob/42d45ed1667c0178076f500088fb2d3ce8dce9d3/lib/puppet/provider/rabbitmq_cli.rb#L5

On the first run, the program won't be in `PATH` at the beginning of the run; once the one in `/usr/sbin` is in `PATH`, it will function correctly, which is why this is an idempotency issue.

Before, it didn't seem t

[2019-01-16 07:31] JayH5 commented on #763
Ah I knew there had to be a bug somewhere 🙃. I guess we need to find a better way to do that `which`.

[2019-01-16 07:34] wyardley commented on #763
The previous iteration simply didn't try? But for the plugins, it hard-coded the one in `/usr/lib` too....

[2019-01-16 07:36] JayH5 commented on #763
Right.. I think I got confused by the plugins one and didn't actually realise things were usually called from `/usr/sbin`. So I think #764 looks good.

[2019-01-16 17:24] #757 closed

[2019-01-23 11:29] itnazeer opened #768 "unexpected token error at arguments"
Hi,
I have written queue and it updated fine in puppet node, again if I run to add another queue getting below error. Please help on this
[code]

[2019-01-24 12:58] dduuch commented on #768
Duplicated with https://github.com/voxpupuli/puppet-rabbitmq/issues/763

[2019-01-24 15:05] wyardley commented on #768
Can you clarify your module and rmq versions? Is this with current master or an older version?

[2019-01-24 15:07] wyardley commented on #763
@ralfbosz can you let us know if this still exists in current master, or did #763 resolve it?

[2019-01-24 15:09] wyardley commented on #768
If this is a dupe of #763 and / or this error still comes up with current master, let’s reopen that and / or delay the release.

[2019-01-24 16:07] ralfbosz commented on #763
Yeah that works ! Love to see a release so we can use it in our environment...

For now we are forcing a RabbitMQ-version...

[2019-01-25 02:45] itnazeer commented on #768
Hi I am using puppet module version 8.4.1.

Thanks
Nazeer

________________________________
From: Will Yardley <notifications@github.com>
Sent: Thursday, January 24, 2019 8:35 PM
To: voxpupuli/puppet-rabbitmq
Cc: itnazeer; Author
Subject: Re: [voxpupuli/puppet-rabbitmq] unexpected token error at arguments (#768)

Can you clarify your module and rmq versions? Is this with current master or an older

[2019-01-25 03:45] wyardley commented on #768
What RMQ version?

Can you confirm if 8.5.0 resolves the issue for you?

[2019-01-25 03:56] itnazeer commented on #768
RMQ version is 3.7.10

I will try with 8.5.0

Thanks
Nazeer

________________________________
From: Will Yardley <notifications@github.com>
Sent: Friday, January 25, 2019 9:15:57 AM
To: voxpupuli/puppet-rabbitmq
Cc: itnazeer; Author
Subject: Re: [voxpupuli/puppet-rabbitmq] unexpected token error at arguments (#768)

What RMQ version?

Can you confirm if 8.5.0 resolves the issue for you?

—
You are

[2019-01-25 04:06] wyardley commented on #768
FWIW, the version you’re using has multiple bugs with >= 3.7.9 (and README doesn’t claim support for 3.7.x at all, not do acceptance tests test it). We hope that 8.5.0 will fix many of these tho there still may be additional issues.

[2019-01-28 19:04] wyardley commented on #756
@witchbutter Have you tried using `repos_ensure => True` instead of calling the apt module directly?

[2019-01-28 19:06] #768 closed

[2019-01-29 10:31] itnazeer opened #769 "Iteration loop for multiple bindings creation"
I have a exchange and had to create multiple bindings to multiple queues, so I have used the below iteration loop and multiple bindings are creating fine but on every puppet run I see the notice as binding created. Please help me on this how can we make to stop those notices on every puppet run, thought its not affecting anything.

Integer[1,6].each |$destination| {
    rabbitmq_binding {"exchange

[2019-01-30 23:47] rehan2908 opened #771 "Error while using class rabbitmq_user"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.0 ( Enterprise)
- Ruby:
- Distribution: Centos 7
- Module version: 9.0.0

## How to reproduce (e.g Puppet code you use)
i am trying to use rabbitmq module to create users but i am getting this error using rabbitmq_user class using below code,
class role::rabbitmq::rabbitmqusers (

  $admin_user_create    =$role::rabbitmq::

[2019-02-02 10:21] spafe opened #772 "unexpected token at 'arguments'"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
puppetserver-5.1.0-1.el6
puppet-agent-5.2.0-1.el6
- Ruby: ruby 2.4
- Distribution: CentOS release 6.6
- Module version: 9.0.0

## How to reproduce (e.g Puppet code you use)
   ~> rabbitmq_policy { 'ha-all-dummy@/':
    pattern    => '^dummy\.',
    priority   => 0,
    applyto    => 'queues',
    definition => {
      'ha-mo

[2019-02-02 12:09] spafe opened #773 "Could not evaluate: cannot parse line from list_policies"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
puppetserver-5.1.0-1.el6
puppet-agent-5.2.0-1.el6
- Ruby: ruby 2.4
- Distribution: CentOS release 6.6
- Module version: 9.0.0

## How to reproduce (e.g Puppet code you use)
Trying to apply the policy to rmq queus
[code]

## What are you seeing
[code]

## What behavior did you expect instead
Puppet run should apply the policy

[2019-02-02 12:35] spafe commented on #772
Sorry for creating a duplicate issue.

[2019-02-02 12:35] #772 closed

[2019-02-04 14:51] jstewart612 commented on #773
Essentially, my puppet agent had pulled the module into cache from the puppetserver, which at the time had a partially failed r10k module deployment of this module (Some of the files were from 8.2.0 and some were from 8.2.2).  Somewhat unique comedy of errors and thus I'm guessing not broadly applicable as a solution.

[2019-02-05 16:15] spafe commented on #773
Thank you @jstewart612 for your feedback.
Since we are using the updated version of rabbitmq module the solution is not applicable to me.
Does anybody have any clue?

[2019-02-06 01:16] wyardley commented on #773
It may be a bug, though 3.3.x should be what integration tests run against.

[2019-02-06 11:38] rick-pri commented on #771
- Puppet 5.5 OS
- Distribution FreeBSD 12.0
- Module version: 9.0.0
- RabbitMQ version: 2.7.8

I think that #671 needs opening again because even with the environment variables line in the rabbitmq class I still get the same error about the locale.

[2019-02-06 15:49] rick-pri commented on #771
So, I forked the repo and have managed to get past the issue by adding a utf entry for LC_ALL into the environment in the `lib/puppet/provider/rabbitmq_cli.rb` file:

[code]

I think that the language locale just has to be available on the system and utf-8.  I don't think that this is the end solution, there must be a much better way to get this working, but this worked for me whereas everything e

[2019-02-07 05:04] wyardley commented on #771
@JayH5: you have any thoughts about this one? I’d rather not hard-code env in here, and in the past, setting it in `environment_variables` (default updated in #694) seemed to work.

[2019-02-07 07:29] JayH5 commented on #771
@wyardley 😬 not really, haven't had this problem myself.

Adding the `LC_ALL` variable to the `home_tmp_command` function could work but..
* When I wrote that function I was mostly just looking at list operations. There may be other areas where it's not used.
* The function should probably get a new name.
* It might make sense to only set `LC_ALL` to a default like `en_US.UTF-8` only if it's not a

[2019-02-07 09:07] rick-pri commented on #771
Just as a note, I didn't check whether other language settings worked here, like LANG.

[2019-02-07 15:32] wyardley commented on #771
`LANG` would work too, I just feel like `LC_ALL` is a little narrower. It’s already supposed to be defaulted in `environment_variables`- @rick-pri - you’re not setting that in your Puppet code, right?

@JayH5: yeah, that’s what #694 was supposed to do, I think it sets it in the RMQ config vs in Puppet’s env directly, so wondering if somehow the new changes are causing that to get ignored or overri

[2019-02-07 15:33] wyardley commented on #771
And FWIW, setting the locale correctly on the instance itself _should_ fix the problem. However, this affects enough users that we still need to set some kind of default.

[2019-02-08 17:01] rehan2908 commented on #773
Hello Guys,

Even i am using this module with version 9.0.0 and even i am seeing this error. when i run puppet for first time rabbitmq_policy creates the policies for the vhost requested for. in the next run i also see the error "Could not evaluate: cannot parse line from list_policies"
when i do a trace back then i see this error,

/opt/puppetlabs/puppet/cache/lib/puppet/provider/rabbitmq_policy/

[2019-02-11 19:40] hjensas opened #775 "admin_enable - controles both rabbitmq_management plugin and install of rabbitmqadmin"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.6
- Ruby: 2.0.0.648
- Distribution: CentOS 7 / RDO Openstack
- Module version: 8.2.3-rc0

## How to reproduce (e.g Puppet code you use)
Set parameter admin_enable: false

## What are you seeing
rabbitmqadmin script is not installed.
rabbitmq_management plug-in is not loaded/enabled.
rabbitmq.config has no configuration f

[2019-02-11 19:57] bastelfreak commented on #775
Hi @hjensas, thanks for bringing this up. Are you able to provide a PR for this?

[2019-02-12 17:32] hjensas commented on #775
I'm working on something. Will do some testing and then provide a PR.

[2019-02-14 12:54] #775 closed

[2019-02-15 16:26] func0der opened #779 "Packagecloud Apt Pin is hardcoded"
Here: https://github.com/voxpupuli/puppet-rabbitmq/blob/48e8723c55d019ad419a7430700d034a6843fa6a/manifests/repo/apt.pp#L40

you are pinning packagecloud.io.
`rabbitmq::repo::apt::location` is changable though and could be any repository.

This seems to be broken since day one, back when rabbitmq.com - Repositories were used.

Please make the pin origin configurable, so one could use Bintray or oth

[2019-02-16 23:42] func0der commented on #756
@witchbutter You are using `rabbitmq::package_apt_pin` pin wrong.
`rabbitmq::package_apt_pin` is supposed to give the priority with which the source you define, should be ranked during installation via `apt`.
Basically, you should put `1000` in `rabbitmq::package_apt_pin`.

Like  @wyardley mentioned, you pinning is not going to workig without `$repos_ensure` being set to `true`. If you'd do that,

[2019-02-17 00:05] func0der opened #780 "Package manager update is not triggered before installing package"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Every
- Ruby: Every
- Distribution: Debian Jessie (makes it easy to reproduce, because rabbitmq is super old in their repos)
- Module version: 8.5.0

## How to reproduce (e.g Puppet code you use)
- Set `rabbitmq::repos_ensure: true`
- Set `rabbitmq::package_ensure: 3.6*` (`3.6*` being a version that is ONLY available in the

[2019-02-17 15:05] bastelfreak commented on #779
Hi @func0der, thanks for the issue. Are you able to provide a patch for this?

[2019-02-25 10:16] rick-pri commented on #771
@wyardley Sorry for the excessively long wait for me to reply to this.  We're deploying on FreeBSD and I am setting a default in the `login.conf` with the line:

[code]

What I'm wondering is if when puppet is run and it executes the rabbitmqctl command but that command doesn't inherit the shell's locale, and I can see from the `rabbitmqctl` script that it doesn't set the locale:

[code]

The pupp

[2019-03-15 08:51] michaelklishin opened #781 "Fetch signing keys from GitHub or Bintray"
This module downloads signing key from rabbitmq.com. Team RabbitMQ deprecated downloads from rabbitmq.com a couple of years ago (see [Signatures](https://www.rabbitmq.com/signatures.html)). Why? We don't want to be distributing artifacts, there are services that do it better.

The key is available from [Bintray](https://dl.bintray.com/rabbitmq/Keys/rabbitmq-release-signing-key.asc) and [GitHub](ht

[2019-03-25 16:54] jistr opened #783 "Fact rabbitmq_plugins_dirs can crash the puppet run"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.6
- Ruby: 2.5.3
- https://github.com/voxpupuli/puppet-rabbitmq/blob/5477e69eccc009e3685d8eb7715e6dcae29966e6/lib/facter/rabbitmq_plugins_dirs.rb#L4-L5

## How to reproduce (e.g Puppet code you use)

Use the module on a system which doesn't have rabbitmqctl present. E.g. when we only want to generate configs but not manag

[2019-03-25 18:19] wyardley commented on #781
Are there any releases for which `F4E789204D206F89` is still valid, and if so, is that accessible from anywhere?

[2019-03-27 13:54] #783 closed

[2019-03-29 00:10] michaelklishin commented on #781
@wyardley we've migrated to the new key [about 3 years ago](https://www.rabbitmq.com/key-transition-0xF7B8CEA6056E8E56.txt) ([mailing list announcement](https://groups.google.com/forum/#!msg/rabbitmq-users/BO5cmEsdEhc/Jupz1_Q4AwAJ)). 3.5.8 and early 3.6.x releases were all signed with the new key. We re-signed even legacy apt repositories on rabbitmq.com IIRC.

The old key is [available from Bintr

[2019-03-29 00:33] wyardley commented on #781
@michaelkishlin I have to double check - module’s default behavior actually ships 3.3.x (from the vendors’ repos) on certain platforms, tho I guess in that case it will probably be signed with the vendor’s key? I feel like there’s a reason that we have the old key imported in one or two places, but could be wrong.

[2019-03-29 12:32] KlavsKlavsen opened #786 "module generates invalid rabbitmq.config"
- Puppet: puppet 4.10
- Ruby: (part of puppet package)
- Distribution: Ubuntu 18.04 (but puppet from puppet repo)
- Module version:  9.0.0

## How to reproduce (e.g Puppet code you use)
    class { 'rabbitmq':
      config_cluster            => true,
      admin_enable           => false,
      management_enable => false,
      cluster_nodes           => ['server1.example.idk','server2.example.idk

[2019-03-29 12:52] KlavsKlavsen opened #787 "Clustering should sort node names so clustering gets setup correctly"
If you don't have the same sorting of hosts in your cluster node list - the servers do not connect to each other - but to whatever node is the first in the list.
I found this, because I pull my list of nodes from puppetdb - and that sorting is "random".. So IMHO the module SHOULD make a note of "first servername - becomes clustername!" - and ensure sorting (wrap node array in sort()) - to be certa

[2019-03-31 05:32] juniorsysadmin commented on #781
Ideally the public key should be included with this module and not fetched as well.

[2019-04-02 15:14] tobixen opened #788 "Installation of latest Rabbit (3.7) fails on EL7 due to erlang 20 dependency"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.12
- Ruby: ruby 2.0.0p648
- Distribution: EL7 (CentOS7)
- Module version: master (7613f08657d6640b22ec0f4cb55cf5b3c2f2e397)

## How to reproduce (e.g Puppet code you use)

rabbitmq::repos_ensure is set to true in hieradata, except for that I'm doing a plain
"include rabbitmq"

## What are you seeing

It seems like the 3.

[2019-04-02 16:06] wyardley commented on #788
I think the `README` documents that the erlang dep has to be satisfied externally. Unfortunately, the puppet erlang module recommended there doesn’t seem to be well maintained anymore.

I have run across the same problem when testing things. If you want to do a pass at reworking things, I’d be happy to review the PR. One option would be a new param, disabled by default, to use the rmq provided erl

[2019-04-03 04:03] alexizmailov commented on #706
Still having this issue on
- Puppet: v6.0.4
- Ruby: 2.5.0
- Distribution: CentOS Linux release 7.6.1810 (Core)
- Rabbitmq module version: v.9.0.0
- Archive module: v3.2.1

[2019-04-03 04:08] wyardley commented on #781
@juniorsysadmin I agree that that's probably the most secure way. Do you have time / inclination to throw up a PR to switch it to this pattern?

[2019-04-03 04:09] wyardley commented on #555
I'm going to close this one out for now, as it's been a couple years.

[2019-04-03 04:09] #555 closed

[2019-04-03 08:21] tobixen commented on #788
As far as I can see, there is no information in the README (though I am not very skilled on reading documentation, may be I've overlooked something).

The README is quite short and references the REFERENCE file - which is quite big.  I was doing some searching through the REFERENCE file yesterday without finding anything obvious.

[2019-04-03 08:24] tobixen commented on #788
(The permission problem disappeared when letting puppet-rabbitmq control the rabbitmq-server repo and controlling the rabbitmq-erlang repo on my side.  I find it bizarre ... but I don't have capacity to try to reproduce it at the moment).

[2019-04-03 15:04] wyardley commented on #788
Yes, you’re right, in fact, I took out those docs, probably because they were so out of date, in https://github.com/voxpupuli/puppet-rabbitmq/commit/af1c79b478e9e3e3beaa6f1f839a21a78cd25777
and they’ve never gotten replaced 😓

https://www.rabbitmq.com/which-erlang.html is a good breakdown of the different ways of handling the erlang deps. If someone can take a stab at improving the docs and / or i

[2019-04-03 22:43] sammcj commented on #706
I can confirm this is still occurring as per @alexizmailov states.

@bastelfreak would you rather a new ticket was created for this issue - or simply re-open this issue?

[2019-04-03 22:49] sammcj commented on #706
Just found this to now be `download_options` rather than `download_option` - easy fix! :)

[2019-04-03 23:33] wyardley commented on #706
@sammcj thanks for looking into this! I think a new issue is a good idea.

Presumably it was `download_option` for some period of time. So probably the fix would need to require >= whatever version that option changed in.

[2019-04-04 04:18] alexizmailov opened #790 "Puppet fails to run with an error "no parameter named 'download_options'""
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: v6.0.4
- Ruby: 2.5.0
- Distribution: CentOS Linux release 7.6.1810 (Core)
- Module version: v.9.0.0
- Archive module version: v.3.2.1 (latest)

## How to reproduce (e.g Puppet code you use)

## What are you seeing
[code]
## What behaviour did you expect instead
Normal puppet run
## Output log

Provided higher

[2019-04-04 04:18] alexizmailov commented on #706
Done - https://github.com/voxpupuli/puppet-rabbitmq/issues/790

[2019-04-05 05:32] wyardley commented on #790
@sammcj @alexizmailov: It is `download_options`:
https://github.com/voxpupuli/puppet-rabbitmq/blob/dd996ab9743df30cfdab16e6bd6b6796b77ee13a/manifests/install/rabbitmqadmin.pp#L59

which does seem to match current version of puppet-archive.
https://github.com/voxpupuli/puppet-archive/blob/56eedaf13617f1880ce5b1b268db53a774f453c1/README.md#download-customizations

So whatever is going on here, I don

[2019-04-08 01:20] alexizmailov commented on #790
Seems that [archive module](https://github.com/voxpupuli/puppet-archive/blob/master/manifests/init.pp) doesn't have this parameter in its puppet code:
[code]
However it is present in lib/puppet/type/archive.rb line 237:
[code]

[2019-04-08 02:15] wyardley commented on #790
It’s in the providers (e.g., curl / wget):
https://github.com/voxpupuli/puppet-archive/tree/master/lib/puppet/provider/archive

[2019-04-08 02:23] wyardley commented on #790
Just curious since I see the environments: do you use other archive versions in other Puppet environments? Because there’s a bug with this that’s caused problems in the past.

[2019-04-08 05:15] alexizmailov commented on #790
Yes but I upgraded it in Production branch (sorry, it took a while - testing and such) and there is no difference in output. Puppet is still failing in the same way.

[2019-04-08 05:34] wyardley commented on #790
You’re not using one of the other implementations in another env, like the camptocamp one?

[2019-04-08 05:36] alexizmailov commented on #790
No, I'm using https://github.com/voxpupuli/puppet-archive

[2019-04-18 21:28] rehan2908 opened #792 "Auto Clustering of nodes should be enabled"
Hello,

I know there was alot of discuss on this project regarding adding rabbitmq clustering feature.
at the moment, when i use this module and run puppet on two different nodes with same erlang cookie, one after the other.  i am getting two different instances of rabbitmq but not a cluster instance.

https://github.com/voxpupuli/puppet-rabbitmq/pull/718

## Affected Puppet, Ruby, OS and module v

[2019-04-22 20:17] wyardley commented on #792
FWIW, as best I can remember, it should be possible to do clustering / auto-clustering without the PR proposed, though I don't have a specific example.

I have seen some cases where you may get unpredictable results if Puppet runs on both systems at the same time for the initial setup, though. And I've always had to pre-create the Erlang cookie.

[2019-04-30 20:28] witchbutter commented on #771
I am having the same issue where `default_user` and `default_password` have been defined in a manifest.  Interestingly the error does not happen on any of my 3.6 version rabbit servers, only 3.7.

[2019-05-02 09:11] dhoppe commented on #130
@evilensky Has this issue been solved by the pull request of @dn1s?

[2019-05-02 09:30] dhoppe commented on #647
We should use data-in-modules for that purpose, as we do at our GitLab module:
* https://github.com/voxpupuli/puppet-gitlab/blob/master/manifests/omnibus_package_repository.pp#L57
* https://github.com/voxpupuli/puppet-gitlab/blob/master/hiera.yaml
* https://github.com/voxpupuli/puppet-gitlab/blob/master/data/family/Debian.yaml
* https://github.com/voxpupuli/puppet-gitlab/blob/master/data/family/Re

[2019-05-02 14:58] #779 closed

[2019-05-02 19:15] dhoppe commented on #756
@witchbutter, @func0der We fixed issue #779. Could you please check again, based on the master branch?

[2019-05-02 19:40] dhoppe commented on #780
@func0der Which version of the apt module did you use? As far as I know, they changed the behaviour of scheduling updates. The following code might be obsolete:
[code]

Based on your example and the code changes from above, I was able to install RabbitMQ 3.6.16.
[code]

[2019-05-02 20:20] dhoppe commented on #788
This also affect Debian and Ubuntu. Maybe we should migrate to Bintray, since they also provide packages for Erlang.

[code]

[2019-05-02 20:57] dhoppe commented on #703
It looks like RabbitMQ has changed the permission scheme. I am wondering we should add the SGID bit to our module and fix the group and mode settings at config.pp.

RabbitMQ 3.6:
[code]

RabbitMQ 3.7:
[code]

[2019-05-02 21:29] dhoppe commented on #717
At the moment it is not possible to install RabbitMQ 3.7.x, because the dependencies for Erlang are not met.

The module ```garethr/erlang``` is still referenced at ```.fixtures.yml``` and ```spec/acceptance/*.rb```. I am not sure if we really need this, since Bintray provides Erlang packages as ```.deb``` and ```.rpm```.

[2019-05-03 02:12] wyardley commented on #717
Yeah, I’m not sure if there’s one size fits all Erlang, but for sure that module is old and doesn’t work anymore.

Until / unless the module default changes back to having `repos_ensure` as default, probably the vendor provided packages should be tested in integration test, tho if we had one for each case, that would be even better.

[2019-05-03 03:28] wyardley commented on #788
@dhoppe This is probably one of the better options.
_But_, if you check out the link above, there are some things to think about -- specifically, the bintray version could conflict with other versions of Erlang the user wants to install, and may not satisfy everyone's requirements. Also, different RMQ versions require different erlang versions (see matrix above). So this would probably need to be

[2019-05-03 06:50] #780 closed

[2019-05-05 11:57] juniorsysadmin commented on #781
@wyardley I have sadly not much time for this at the moment.

[2019-05-08 13:59] mbaldessari opened #799 "rabbitmqadmin install broke with ipv6"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: puppet-4.8.2-2.el7ost.noarch
- Ruby: ruby-2.0.0.648-34.el7_6.x86_64
- Distribution: RHEL 7.6
- Module version: puppet-rabbitmq-8.1.1-0.20180216013831.d4b06b7.el7ost.noarch

## How to reproduce (e.g Puppet code you use)
In the TripleO project we use a simple 'include ::rabbitmq' for the undercloud. When the rabbitmq::{managem

[2019-05-08 17:46] wyardley commented on #799
What's interesting is that `g` does seem to be in the default options for `curl` in current version of puppet-archive:
https://github.com/voxpupuli/puppet-archive/blob/2a76ca057beda43c59e62bbf9e049380dc273cc5/lib/puppet/provider/archive/curl.rb#L22

My take is that probably, if a fix is needed, it should be in puppet-archive, rather than in this module?

[2019-05-09 07:08] dhoppe commented on #799
@mbaldessari I do not think this problem is related to the variable ```curl_preifix``` because it is not used anywhere. Can you please check which version of ```puppet-archive``` you are using? The option ```g``` was introduced with ```puppet-archive 3.0.0```.

[2019-05-09 10:11] mbaldessari commented on #799
Oh, I see, thanks for the pointer. Yes indeed in this environment I had a puppet-archive < 3.0.0. Let me retest with a more recent version. Mind if I push a PR removing the unused curl_prefix vars? I got a bit confused there.

[2019-05-09 10:44] dhoppe commented on #799
@mbaldessari No problem. Please let me know if your tests were successful and I would appreciate if you could provide a pull request.

[2019-05-10 16:31] mbaldessari commented on #799
Ack, I confirm that a with a puppet-archive cherry-pick of https://github.com/voxpupuli/puppet-archive/commit/dcac1403167124abcdf92a1d0f73a26635ea961a fixes this issue.  https://github.com/voxpupuli/puppet-rabbitmq/pull/800 proposed to remove the unused stuff.

Closing this one out. Thanks for the help!

[2019-05-10 16:31] #799 closed

[2019-05-10 17:24] wyardley commented on #799
We could consider bumping the lower bound for archive version for the next major release, though not sure if it's worth it - that might create inconveniences for people who might depend on other versions of it.

[2019-05-15 01:19] sreejithdivakar opened #801 "no parameter named 'allow_insecure'"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.2
- Ruby: 2.0.0p648
- Distribution: CentOS Linux release 7.6.1810 (Core)
- Module version: v8.5.0

## How to reproduce (e.g Puppet code you use)

## What are you seeing
Puppet push fail with the following error.
[code]

## What behaviour did you expect instead
'allow_insecure' parameter is already declared as shown belo

[2019-05-18 11:11] dhoppe commented on #801
@sreejithdivakar Could you please provide a code example from your role/profile? I do not know how you implemented this nodule and as you already mentioned, the parameter ```allow_insecure``` is  set and can not be changed.

[2019-05-18 15:36] wyardley commented on #801
What version and source of puppet archive module are you using, and do you have multiple versions of it installed in different Puppet environments?

[2019-05-20 02:43] sreejithdivakar commented on #801
Hi @dhoppe,

Thanks for your response to my query. I am not an expert in puppet. Please excuse if the below code is not what you are expecting.

Code example is as shown below.

class profile::xxxxx::symbiosys {

  include erlang
  class { 'rabbitmq':
        repos_ensure => true,
        }
}

Also from the puppet master, when I execute the command --> puppet module list, archive module is listed

[2019-05-20 03:05] sreejithdivakar commented on #801
Hi @wyardley

Thanks for your response to my query. I am not an expert in puppet.

Version of puppet-archive module is 2.1.0

Would be great if you can guide me to find whether multiple versions of this module is installed in different environments...

Thanks in advance
Sreejith

[2019-05-20 04:53] wyardley commented on #801
Your version does fall under the supported version listed in `metadata.json`: https://github.com/voxpupuli/puppet-rabbitmq/blob/cc78a33d98defdf0ef796d98ceb35b811168db5e/metadata.json#L69
Updating might be one thing to try, if possible, though, but from a quick search, this parameter does seem to have been around for a while.

My guess is that you would know it if you also had the camptocamp archiv

[2019-05-20 06:09] sreejithdivakar commented on #801
Hi @wyardley

Do you want me to try upgrading puppet-rabbitmq module to the latest version which is v9.0.0?

From the module list, I can see the below camptocamp modules in production environment.

├── camptocamp-kmod (v0.1.2)
├── camptocamp-systemd (v2.1.0)  invalid

Not sure why some of the modules are showing as "invalid" in our master server.

Appreciate your response
Regards
Sreejith

[2019-05-20 15:14] giggsey opened #802 "How to define a Federation Upstream Set?"
Using the latest master (cc78a33), I'm trying to set a federation-upstream-set to be an array of upstream names.

Code:

[code]

This should be generating the command:

[code]

but is only getting the first item of the array, and trying to execute:

[code]

I know the array support is only recent improvement, and hasn't been released yet (although I've been using it to support multiple URIs in fed

[2019-05-20 16:42] wyardley commented on #801
I would try updating both rabbitmq and archive modules if you’re able to.

As best I can tell, invalid should mean that the version doesn’t satisfy the requirements of at least one module.

[2019-05-20 23:27] sreejithdivakar commented on #801
Hi @wyardley

I will try upgrading the modules to the latest version

Thanks in advance
Sreejith

[2019-05-24 01:51] sreejithdivakar commented on #801
Hi @wyardley / @dhoppe

Issue is fixed by one of my senior devops expert colleague.

Below shown are the module upgrades I did in our environment.

puppet/rabbitmq ==> upgraded from (v8.5.0) to (v9.0.0)

puppetlabs/stdlib (>= 4.13.1 < 6.0.0) ==> current version ==> (v4.22.0)

puppet/archive (>= 2.0.0 < 4.0.0) ==> upgraded from (v8.5.0) to (v9.0.0)
    puppetlabs-stdlib >= 4.13.1 < 6.0.0 ==> curren

[2019-05-24 01:53] #801 closed

[2019-06-19 07:10] saz opened #804 "rabbitmqadmin will not be upgraded"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.14
- Ruby: 2.4.5
- Distribution: Ubuntu
- Module version: 9.0.0

Is there any way of forcing an update of rabbitmqadmin installed via `archive`?
Right now, if you've upgraded rabbitmq-server, rabbitmqadmin will stay the same as the file `/var/lib/rabbitmq/rabbitmqadmin` exists and won't be downloaded again.

Manually rem

[2019-06-22 22:28] #564 closed

[2019-08-29 21:31] bsg-sfrazer opened #811 "Setting 'RABBITMQ_USE_LONGNAME' to true causes failures during user add"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby: 2.0.0p648
- Distribution: CentOS 7.6.1810
- Module version: 9.1.0

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
[code]

## What behaviour did you expect instead

vhosts/users created if needed

## Output log

## Any additional information you'd like to impart

Without the enviro

[2019-08-30 03:22] wyardley commented on #811
It's because Rabbitmq's client tools seem to have problems with the language being set a certain way at the system level. While this really is more of a system config issue, we did add a workaround to set `LC_ALL` to `en_US.UTF-8` by default:

https://github.com/voxpupuli/puppet-rabbitmq/blob/75574b8f4a921cacda86ff30d378308084afa0d4/data/common.yaml#L82-L83
https://github.com/voxpupuli/puppet-rabb

[2019-08-30 15:16] bsg-sfrazer commented on #811
Thanks! I set it at both the system-wide level and included it in the environment stanza just to be safe and that seems to have worked.

[2019-09-02 15:47] hadmut opened #812 "Does not find rabbitmqadmin under ubuntu"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.4.0
- Ruby: 2.5.1
- Distribution: Ubuntu 18.04
- Module version: 9.1.0

## How to reproduce (e.g Puppet code you use)
just follow your examples

## What are you seeing

Error: Command rabbitmqadmin is missing
Error: /Stage[main]/H_server::Message::Rabbitmq/Rabbitmq_exchange[blabla@test]/ensure: change from 'absent' to 'pre

[2019-09-03 10:17] hadmut opened #813 "breaks /etc/rabbitmq ownership under ubuntu"
Puppet: 5.4.0
    Ruby: 2.5.1
    Distribution: Ubuntu 18.04
    Module version: 9.1.0

I found that the puppet-rabbitmq does not work when used repeatedly under Ubuntu, since puppet-rabbitmq changes the ownership of /etc/rabbitmq to root, while under Ubuntu (although I agree that this is poor design) it is supposed to be rabbitmq.rabbitmq, since rabbitmq-plugins want's to write /etc/rabbitmq/enab

[2019-10-22 13:44] siebrand opened #816 "Add support for RHEL/CentOS 8"
The module is currently not supported on RHEL/CentOS 8. Please add support for those os versions.

[2019-10-29 08:08] paescuj opened #817 "Version release"
Do you think a new version release would be possible soon?
We are interested particularly in https://github.com/voxpupuli/puppet-rabbitmq/pull/814 since the module is currently not working with RabbitMQ version 3.8.0.

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby: -
- Distribution: CentOS 7
- Module version: 9.1.0

## How to reproduce (e.g Puppet code yo

[2019-10-30 16:05] Ordnaxz commented on #790
Same issue here, also using above archive module. Disabling above archive module does not fix the issue, commenting out "download_options" fixes it, but is of course not an acceptable workaround.

[2019-11-06 12:22] KrzysztofHajdamowicz commented on #817
+1

[2019-11-13 12:23] mcorreafdez commented on #792
I have experimented the same behaviour, running on puppet 4.8 , puppet-rabbitmq 8.5.0.

Nodes are being set up correctly, but the second node is not being joined to the cluster, so it ended up with two different instances of rabbit running separately.

[2019-11-19 17:00] skrussell commented on #813
I'm going to add my comments here, that this also happens on CentOS installs. I performed a clean manual install of rabbitmq 3.7.21 on a development node today, and then, when later running puppet to apply a configuration, I was surprised to see the following changes:
[code]
Seems to me that this module is enforcing incorrect permissions now-a-days.
Version information:
[code]

[2019-12-02 10:50] s2490 commented on #817
+1

[2019-12-02 17:56] wyardley commented on #816
Are you able to make a PR to add or test this functionality?

[2019-12-02 17:57] wyardley commented on #813
I think there was one pass at fixing some of these permissions things, (maybe try #796)? I think that one still needs some adjustments to work properly.

[2019-12-02 18:01] siebrand commented on #816
As far as I can tell, it would be as easy as adding version 8 to RHEL/CentOS in metadata.json. No way for me to prove this yet, though.

[2019-12-02 18:12] wyardley commented on #816
If you can test / verify that it functions as-is, without any additional code changes, feel free to PR that. We'll need to make sure that it gets auto-added to the travis matrix just from that change so that at least acceptance tests are being run there.

[2019-12-02 21:18] #817 closed

[2019-12-02 21:21] wyardley commented on #817
Hi y'all

As far as cutting a release that gets out #814, I've done that.
If that doesn't resolve the issue that #819 is trying to fix, may need to do some more adjustments there.

This also contains a second breaking(ish) change, so please read the changelog / release notes.

[2019-12-15 04:25] espala opened #822 "About RabbitMQ-Server Version Selection"
Hello Everybody,

I want to keep the version fixed. However, there is no version parameter.

For example, I installed "3.8.2-1.el7" version with epel.

I don't know if an update will come tomorrow, "3.8.2-9.el7" or "3.9.2-1.el7". I don't want it to make minor or major version changes automatically.

Because any changes can corrupt my system.

Maybe I'm missing something. Because such a large commu

[2019-12-15 20:41] wyardley commented on #822
This could be documented better, but have you tried setting `$package_ensure` to the version you want?

[2020-01-02 13:55] rehan2908 commented on #816
When will the support for Centos 8 be added. Erlang Repo URL needs to be changed then

[2020-01-10 12:14] jake2184 opened #827 "Rabbitmq_user seems to be failing"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.8.1
- Ruby: 2.5.3
- Distribution: Centos 7.7
- Module version: 9.1.0

## How to reproduce (e.g Puppet code you use)
`puppet resource rabbitmq_user --debug`
or
`  rabbitmq_user {
        'admin':
            admin    => true,
            password => 'admin'
    }`

## What are you seeing
[code]
or
[code]
## What behaviour d

[2020-01-10 13:40] jake2184 commented on #827
I'm also getting similar errors for `rabbitmq_plugin`.
[code]

This looks like it might be a change in the rabbitmq commands? I'm running rabbitmq-3.8.2, and looking at the README it looks like this module has only been tested/supports up to 3.6. If that's confirmed to be the case then I guess this is a feature request rather than a big report.

[2020-01-10 16:53] wyardley commented on #827
Can you try with 10.x?

[2020-01-15 16:15] jake2184 commented on #827
Yes, 10.0.0 works fine.

Sorry, I really should have tried that before raising a ticket.

[2020-01-15 16:15] #827 closed

[2020-01-15 16:51] wyardley commented on #827
No worries. As you say, it’s still not listed as supported, partially because we don’t yet integration test the newer version. However some fixes to support it did go out with the last release.

[2020-03-23 14:53] jsfrerot opened #829 "support for sysctl config file format"
Hi, Would it be possible to add sysctl config file format as describe in the link below?
https://www.rabbitmq.com/configure.html#config-file

Thank you.

[2020-04-09 11:32] kriptor opened #832 "Problem removing (ensure => 'absent') federation upstream"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: puppet-agent 5.5.19-1stretch
- Ruby: ruby 1:2.3.3
- Distribution: debian stretch
- Module version: Version 10.0.0 of https://forge.puppet.com/puppet/rabbitmq

## How to reproduce (e.g Puppet code you use)
1. create federation upstream (ensure: present) ... upstream gets created:
[code]
2. remove federation upstream (ensure:

[2020-04-10 08:21] fiksn commented on #832
The bug lies here https://github.com/voxpupuli/puppet-rabbitmq/blob/0bb4e33d8e35184c77a52ae910ea15955640e2cf/lib/puppet/provider/rabbitmq_parameter/rabbitmqctl.rb#L69

I suppose 'shovel' should be resource[:component_name]. Then there needs to be a test case here: https://github.com/voxpupuli/puppet-rabbitmq/blob/0bb4e33d8e35184c77a52ae910ea15955640e2cf/spec/unit/puppet/provider/rabbitmq_parameter

[2020-04-25 18:13] #832 closed

[2020-04-26 17:56] #697 closed

[2020-04-26 18:20] wyardley commented on #829
My guess is that this wouldn't be trivial / practical until the point where the module drops support for older RabbitMQ versions - otherwise, all the code / templates and tests would have to support both formats.

[2020-04-26 18:20] wyardley commented on #822
@espala did that work for you?

[2020-04-27 09:18] #703 closed

[2020-04-27 09:18] #813 closed

[2020-04-27 14:36] wyardley commented on #813
Sorry for the delay, but hope the fix above will help. If you’re able, please test this off of master and let us know how it goes.

[2020-05-05 09:16] eLvErDe commented on #790
Hello,

I'm having the same issue with puppet-archive 3.2.1

[2020-05-05 15:59] wyardley commented on #790
@eLvErDe can you post a copy of your module tree (`puppet modules list` on the master should work in most cases, I think).

And same questions - are you using environments, and if so, do you have any of the other "puppet-archive" implementations installed anywhere?

[2020-05-05 16:27] eLvErDe commented on #790
Hello,

I'm using two environments but atm the code in in sync. I can share the module list but I'd avoid publicly, can you share a private email ? acecile@letz-it.lu

[2020-05-06 13:36] ToonSpinISAAC commented on #788
I'm now using this module for the first time, so perhaps my perspective on things might be helpful.

I am not very familiar with RabbitMQ or Erlang at all. So for me, it would have been very helpful to have a parameter I could pass to `rabbitmq` that would have it set up Bintray for Erlang along with RabbitMQ, or even to have that be the default behavior.

This is totally *not* a concern for me, a

[2020-05-30 08:17] tobias-urdin opened #836 "Not idempotent again on RHEL based platforms since move to systemd module"
This commit [1] some years ago fixed so that this module on RHEL based platforms was idempotent again. Since the move to the systemd module the same issue has occured again.

Need to implement a way to set selinux_ignore_defaults in systemd::service_limits (and thus in systemd::dropin_file) and add that usage in this module.

[1] https://github.com/voxpupuli/puppet-rabbitmq/commit/0227f762070ffbbe

[2020-05-30 08:18] tobias-urdin commented on #836
On CentOS 8:
2020-05-29 10:52:28 +0000 /Stage[main]/Rabbitmq::Config/Systemd::Service_limits[rabbitmq-server.service]/Systemd::Dropin_file[rabbitmq-server.service-90-limits.conf]/File[/etc/systemd/system/rabbitmq-server.service.d]/seltype (notice): seltype changed 'rabbitmq_unit_file_t' to 'systemd_unit_file_t'

[2020-05-30 08:35] tobias-urdin commented on #836
Adding support for selinux_ignore_defaults to systemd module here [1].

[1] https://github.com/camptocamp/puppet-systemd/pull/151

[2020-05-30 08:36] tobias-urdin commented on #836
We can then edit this line [1] in this module and add the selinux_ignore_defaults parameter for the systemd::service_limits usage when handling RHEL based operating systems.

[1] https://github.com/voxpupuli/puppet-rabbitmq/blob/master/manifests/config.pp#L234

[2020-06-02 20:05] nerdcorenet opened #837 "erlang_cookie echo'ed to agent output"
Since erlang_cookie is sensitive data (authentication credential for cluster members), it should not be shown in the output of puppet agent.

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.15.0
- Distribution: Ubuntu 18.04
- Module version: Latest (master)

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing
[code]
## What behaviour did you ex

[2020-06-02 20:14] wyardley commented on #837
It's been a while, but does anyone know the current state of the art about preventing sensitive information from being leaked? I know that Puppet has the "sensitive" type, but my memory is that, in the past, it was not actually that tricky to prevent things from being exposed.

[2020-06-03 15:27] nerdcorenet commented on #837
The usual method for a File resource is to pass the parameter "show_diff => false" but I'm not sure what this causes to happen internally or how to apply this technique to other resource types

https://puppet.com/docs/puppet/latest/types/file.html#file-attribute-show_diff

[2020-06-04 19:08] kobybr opened #839 "rabbitmq_user resource displays password when needed changed in noop"
When running puppet agent in --noop mode, rabbitmq_user will display the 'should be' password if it needed changed.

i.e.
Rabbitmq_user[testuser]/password: current_value , should be somerandompassowrd (noop)

[2020-06-23 20:09] #837 closed

[2020-06-23 20:09] #839 closed

[2020-07-09 02:59] philomory opened #846 "Cannot set delivery-limit policy"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.18
- Ruby: 2.4.4
- Distribution: CentOS 7
- Module version: 10.0.0

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
For the integer delivery-limit:
[code]

For the string delivery-limit:
[code]

## What behaviour did you expect instead
I should be able to set a delivery limit via policy with

[2020-07-09 20:52] #846 closed

[2020-07-13 23:20] jplindquist opened #850 "Password comparison error in Rabbitmq_user when password contains double quotes"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.20
- Ruby: 2.4.10
- Distribution: CentOS
- Module version: 9.0.0 (although still present in master)

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
The password is set fine initially, but during comparisons it fails with a bash error due to an unterminated string `returned 70: Error: untermin

[2020-07-14 00:01] #850 closed

[2020-08-28 09:59] xepa opened #857 "Ensuring absent user_permissions with missing (or absent) user / missing (or absent) vhost"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.12.1-1bionic (agent: 6.18.0-1focal)
- Ruby: 2.5.8
- Distribution: Ubuntu
- Module version: 10.1.1
- Rabbitmq-Server: 3.8.2 / 3.8.6

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
Some combinations of ensures in the above code will give errors (or loops in execution).  This mainly happens when t

[2020-08-30 14:51] #836 closed

[2020-09-05 18:55] igalic commented on #857
these `autorequire`s might not be enough
https://github.com/voxpupuli/puppet-rabbitmq/blob/a5df26d8a1e749c9cd39520f1e1aa640330796d4/lib/puppet/type/rabbitmq_user_permissions.rb#L51-L57

[2020-09-29 08:25] rmestrum opened #858 "ssl_unsecure optiion not supported in rabbitmqadmin.conf"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.17
- Ruby:
- Distribution: RHEL 7.8
- Module version:10.1.1

## How to reproduce (e.g Puppet code you use)
It is not possible to add the option ssl_insecure to the file rabbitadmin.conf
## What are you seeing

## What behaviour did you expect instead
It is possible to add the option ssl_insecure to the file rabbitadmin.con

[2020-10-12 18:04] bastelfreak opened #862 "Debian 8 deprecation"
Debian 8 is EOL since some months now. Release 10.2.0 will be the last one with Debian 8 support. Aftwards we will do a 11.0.0 release.

[2020-10-12 18:04] #862 closed

[2020-11-05 17:40] TheMeier commented on #829
Well. Looking at the documentation. The new config format is supported since 3.7.0. This version was released 2017. All other branches are EOL since at least 2018.
So I don't see any point why one shuould not work on a new major version of the module that only supports 3.7.x+. Dropping support for outdated software is often done in voxpupuli modules. E.g. a lot of modules recently dropped Debian 8

[2020-11-05 18:07] wyardley commented on #829
Feel free, but the work mentioned in, e.g., #845 would probably have to happen first, and so far, no one has gotten that in a working state. I'm happy to review PRs in a similar vein if someone wants to take a stab at it.

[2020-11-25 13:52] ldh761 commented on #614
问下这个问题解决了吗？是怎么处理的，盼回复

[2020-11-25 22:35] wyardley commented on #614
@ldh761 应该是

[2021-01-08 17:12] italicninja commented on #788
- Puppet: `6.19.1`
 - Ruby: `ruby 2.0.0p648`
 - Distribution: `EL7 (CentOS7 7.8.2003)`
 - Module version: `Forge 10.2.0`
 - Rabbit version: `3.8.9`
 - Erlang version: `23.2.1`

I needed to deploy rabbitmq as well for my shop and have encountered this problem. I was able to install erlang like so:
[code]

Which does end up working correctly on the cli `rabbitmqctl`.

[code]
However the module start

[2021-01-08 17:26] wyardley commented on #788
Have you tried configuring the system’s locale to utf-8? There are some existing workarounds in the module that try to force it in the env of commands that run but could be that.

[2021-01-08 17:28] wyardley commented on #788
ps - as far as Erlang goes, once the puppet-erlang module actually gets released, I’m hoping someone will work on getting the changes in #845 to work, which I think would help with some of these issues.

[2021-01-08 17:48] italicninja commented on #788
I've tried what I could think of. My system appears to be utf-8 already. Searching for this error yeilds really old threads mostly and I've tried some of the solutions in those.

[code]

I think this related to the newer version of Rabbit, as using the `repos_ensure: true` and using an updated version of erlang is the way to get this error. If I do not specifiy any user creation like this:
[code]

[2021-01-25 15:22] adeleglise commented on #836
Is it possible that this commit added a breaking change ?

I can observe this error when trying to use the module v11.0.0 on a Ubuntu 20.04 box:

[code]

[2021-01-25 16:44] wyardley commented on #836
@adeleglise can you see if you have a version of the systemd module that’s in bounds of the lower bound that the module requests? Whether this new parameter being required should have been a breaking change I can’t say (I would lean towards no), but feel free to open a new issue if you see this error even with the updated version of the systemd module.

Sometimes, I’ve seen quirks with caching whe

[2021-01-25 17:26] tobias-urdin commented on #836
Verify that you have the proper puppet-systemd module.

[code]

[2021-01-26 10:43] adeleglise commented on #836
I have the module `mod 'camptocamp-systemd', '2.5.1'`.

Sorry, I saw that this module is not listed to be compatible with ubuntu 20.04. Maybe that's my issue.

[2021-03-04 13:41] karelyatin opened #875 "Not compatible with latest puppet-systemd"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.21.1
- Ruby: 2.5
- Distribution: CentOS8
- Module version: Latest puppet-rabbitmq commit

## How to reproduce (e.g Puppet code you use)
with latest puppet-systemd commit issue should be seen as the removed class is being used in puppet-rabbitmq https://github.com/voxpupuli/puppet-rabbitmq/blob/7f806ac6983ec8d087a2c9e86b4e1

[2021-03-04 14:45] wyardley commented on #875
Hello:

https://github.com/camptocamp/puppet-systemd/pull/171 Is flagged as backwards compatible, and metadata requires <3.0 (https://github.com/voxpupuli/puppet-rabbitmq/blob/dfd7607753b1fe4a4ad1de41eb31183d1a23dca8/metadata.json#L71) also, this module’s metadata still lists Puppet 5 as supported, so I don’t think this is breaking as-is.

When those versions are updated, some changes may need to

[2021-04-20 17:42] #792 closed

[2021-05-06 12:33] TheMeier opened #887 "Add support for debian 10"
Debian 10 ("buster") ist the stable version of debian since 2019 but not listed in metadata.json and no testing is done with this version.

[2021-05-06 14:17] wyardley commented on #887
See #842 and #845 but my guess is that it may take some work to get newer Debian versions working and tested with this module.

[2021-05-06 16:52] #875 closed

[2021-05-28 19:28] NimishKmr commented on #671
Is this fixed? I too get same error when using in puppet..

**Error -**
Error: /Stage[main]/Mymodule::Rabbitmq/Rabbitmq_user_permissions[newdev@newdev]: Could not evaluate: cannot parse line from list_user_permissions:warning: the VM is running with native name encoding of latin1 which may cause Elixir to malfunction as it expects utf8. Please ensure your locale is set to UTF-8 (which can be verif

[2021-07-26 07:17] eichie opened #890 "Adding rabbitmq-delayed-message-exchange plugin"
This is a request to adding the https://github.com/rabbitmq/rabbitmq-delayed-message-exchange plugin to to repository.

My company need these plugin to handle delayed messages and it is annoying to manage a separate plugin for it every time. With every Rabbitmq update we have to check if this plugin is still compatible and replace it in our repository. Plus the logic to enable it every time. It wo

[2021-07-26 10:21] eichie commented on #890
ok, wrong project :D .. sorry

[2021-07-26 10:21] #890 closed

[2021-09-16 15:12] s-johansson opened #894 "Reference for log_levels does not apply"
## Affected Puppet, Ruby, OS and module versions/distributions

- Module version: v11.1.0
- Rabbitmq version: v3.8.22

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

No debug log output

[2021-09-24 14:16] #894 closed

[2021-11-19 22:34] rhandimartin opened #898 "Compatibility with puppet-systemd"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.x
- Ruby: 2.x
- Distribution: RedHat, Debian
- Module version: 11.1.0

## What are you seeing

The systemd dependency stil refers to the camptocamp version. Currently, module is puppet-systemd 3.x branch. I see that the 11.1.0 of rabbitmq is still calling Class['systemd::systemctl::daemon_reload'] which was still present i

[2021-11-19 23:53] kenyon commented on #898
#885

[2021-11-19 23:55] wyardley commented on #898
It doesn't seem like those conflicts got resolved; if someone wants to cherry-pick it (with original attribution) and resolve conflicts as a new PR, I can take a look at it.

[2021-11-23 14:28] saz commented on #804
Looking at Debian and Ubuntu packages, `rabbitmqadmin` is included within those packages.
To avoid another rabbitmqadmin version in `/usr/local/bin`:
[code]
Fixing this issue would still be good.

[2021-11-30 11:17] cogliostro commented on #773
Ran into the same error today on rhel 8.4 puppet-agent 5.5.22 module verseion 11.1.0

Error: /Stage[main]/Profile::Rabbitmq/Rabbitmq_policy[ha-all@/]: Could not evaluate: cannot parse line from list_policies:/     ha-all          all     {"ha-mode":"all","ha-sync-mode":"automatic"}

[2022-01-05 03:47] #603 closed

[2022-01-06 15:53] #804 closed

[2022-02-17 21:40] timmooney opened #902 "need support for newer versions of dependency puppet-archive"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: OpenSource, puppetserver 6.18.0
- Ruby: whatever version is included with puppetserver 6.18.0
- Distribution: RHEL 7
- Module version: 11.1.0

## How to reproduce (e.g Puppet code you use)

Install puppet-rabbitmq 11.1.0 (current latest).

## What are you seeing

[code]

Note that `puppet module` is wrong, it's not `puppetla

[2022-02-25 00:02] sjjf commented on #812
This is due to the Ubuntu packages installing rabbitmqadmin themselves, where the upstream packages don't (see https://github.com/rabbitmq/rabbitmq-server/issues/605 for some discussion, as well as a few other issues).

I think a fix/workaround would be to try both locations and use whichever it finds?

[2022-02-25 00:40] sjjf commented on #812
Actually, scratch my comment - with the current version of the module puppet will create /usr/local/bin/rabbitmqadmin unless you do something to stop it, so this shouldn't be a problem. It's not /necessary/ to do with the Ubuntu packaged rabbitmq-server, but it doesn't break things.

[2022-03-28 16:34] #902 closed

[2022-03-28 16:36] root-expert commented on #902
Fixed in 12.0.0 release

[2022-06-29 11:28] kvisle opened #909 "rabbitmq_plugin not working properly with RabbitMQ 3.10.x"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.27.0
- Ruby: 2.5.9p229
- Distribution: Rocky Linux 8
- Module version: 12.0.1
- RabbitMQ Server 3.10.5

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

Abovementioned command returns the following:
[code]

## What behaviour did you expect instead

A list of plugin resources and their ensured

[2022-06-29 11:32] kvisle opened #910 "Feature-request: Configure prometheus exporter"
Newer versions of RabbitMQ include a Prometheus-exporter (https://www.rabbitmq.com/prometheus.html).

It would be useful to easily be able to enable the exporter and update some of its basic settings.

Attempts at using this module to do this have been unsuccessful.  Possibly due to own incompetence, and possibly because of #829 and #909.

[2022-08-13 14:34] #909 closed

[2022-08-13 20:32] kvisle commented on #910
To put this issue into context;
- Enabling the plugin through puppet wasn't possible with the module before #909 were fixed (so, this is OK)
- Changing any of the default behavior is as far as I can tell not possible (unless through some secret undocumented way) with the classic configuration format.

[2022-08-13 20:52] wyardley commented on #910
Is it working now that #909 is resolved, or is any additional fix needed?

[2022-08-13 21:49] kvisle commented on #910
Enabling the plugin works (`rabbitmq_plugin {'prometheus': ensure => present; }` -> fine)

(I want to add that there's a none-zero chance that I've somehow overlooked something with the below claims, but I haven't found a way around this)

_Configuring_ the plugin is another matter.  Let's say I want to change the TCP-port the prometheus endpoint listen on.  Using the sysctl-format config file, I

[2022-08-13 22:07] wyardley commented on #910
Dropping support for, say, <= 3.7 (which has now been around since ~ 2017) would probably simplify a number of things (for example, the availability of json formatted output, version being available without rabbitmq already being started / running), etc.

This could go along with breaking changes as proposed in #845 etc.

I have very little time / energy (or incentive) to do anything that big or s

[2022-08-21 16:43] #130 closed

[2022-11-22 11:24] enothen opened #916 "Unable to use custom list inside enabled_plugins file"
The current template `templates/enabled_plugins.erb` allows a static list of plugins to be enabled, and nothing else outside of what the template covers:
[code]

There's no way to enable rabbitmq_prometheus, or any other plugin when using `rabbitmq::use_config_file_for_plugins: True`.

[2022-11-30 01:36] wyardley commented on #916
Closed via #917

[2022-11-30 01:36] #916 closed